[2017-08-02 16:45] wmaciel opened #1 "[Request] Allow for user defined polling frequency"
The app currently logs the every second.
It would be very useful to have that frequency configurable from the app UI.
Personally, I'd like to have a smaller gap between polls.
What would be the limits on how fast those requests can go through BT?

[2017-09-26 16:47] kwatkins commented on #1
This could be configurable, they come through quickly - not sure how fast, but it's in the milliseconds. I'm about to test this on my new OneWheel+ and if there is another release I'll add this configurable feature.

[2017-10-02 20:02] wmaciel commented on #1
Awesome,

I've made this change myself and tested it on my V1 and the logging did indeed came in the milliseconds, but for some reason they are not regular intervals.

I don't have a UI change yet, it is all hard coded.

I'll try working on it and submitting a pull request, if you won't mind.

[2017-10-08 00:47] ebabel opened #2 "Plus support"
Any idea if the plus has a similar API?

[2017-10-08 03:19] kwatkins commented on #2
It does. There are more ride modes that I'm updating the app with (just got
a OW+) and will release that soon!

On Oct 7, 2017 5:47 PM, "ebabel" <notifications@github.com> wrote:

[2017-10-24 05:03] ebabel commented on #2
Would love to see your progress if you want to commit to a branch. I'd like to fork and start working on it too.

[2017-10-24 16:40] kwatkins commented on #2
@ebabel just wrapping up OW+, also cleaned up some BT workflow and and now scan the service UUID for OW, seemed to fix all connection delays and issues. I'll have it checked in later today and will update here, it should be ready for you to run with.

[2017-10-24 16:49] kwatkins commented on #2
Also the official app has improved a lot, big motivation of doing this app was because official app was so behind... I still find myself going to this app for being able to quickly change ride modes during the ride and custom/brighter lights. I didn't see any new BLE characteristics/endpoints with OW+ so the good thing, other than added ride modes, is this app works fine with OW+.

@ebabel one thi

[2017-10-24 17:32] ebabel commented on #2
Sounds great, thanks!! I was connecting last night but getting the status 133 issue on my Samsung sometimes. And my oreo phone didn't connect at all. I can't imagine I'll be able to help much on the firmware side, but maybe a better interface for looking at your ride then what they have. Was even considering audible speedo when >17mph could be helpful.

[2017-10-25 17:54] kwatkins commented on #1
@wmaciel Of course! and apologies i didn't get back sooner, just saw this and will work on being more active with this project... and now kicking myself for working on this when you were, i'm sure what you did is cleaner, and will definitely git pull what you have. If you get a chance check out what I did and put in the master branch, I added a new preference option for specifying polling frequenc

[2017-10-25 18:01] kwatkins opened #3 "Add Travis CI & automatic builds to repo"
https://medium.com/@harmittaa/travis-ci-android-example-357f6e632fc4

[2017-10-25 18:30] kwatkins commented on #1
also @wmaciel based on your onewheel-video-hud you seemed to figure out the roll angle etc, i'm definitely open to making any post-processing of those values be directly in the app and output csv.

[2017-10-26 04:32] ebabel opened #4 "[Feature Request] Turn off charging when batt hits 95%"
via Kasa (TP-Link) or ?

[2017-10-26 04:42] ebabel commented on #4
Jay Fornow on on Facebook says:
It's a simple formula.

The amount of minutes to set in timer = (Y - Z) x 22.5 seconds /60 seconds

Y=Desired Percentage
Z=Current Battery Percentage.

For example: If I want to stop charging the battery at 96% and current charge is 40%.

(96-40)x 22.5/60= 21 minutes

[2017-10-26 05:19] ebabel commented on #4
Looks like we can connect to Kasa via IFTTT.com

[2017-10-26 17:56] kwatkins commented on #4
Oh wow, interesting... yeah we can add intents/broadcasts/a service?/tasker integration etc for the stats, not sure what we can do past that. For what it's worth, I have a raspberry pi running home assistant for controlling/automating my house and created a sensor, a script, that uses ble tools to pull the % directly. Then I can create actions based on that, like turning off the charging.
![image]

[2017-10-26 23:07] wmaciel commented on #1
To be honest I haven't touched anything since my last comment.
I'll take a look at your changes and see if mine still apply.
I have no experience with android dev ui, so I'll do my best.

[2017-11-02 19:32] kwatkins commented on #4
Hmm also the protocol used for the smart plug been reversed engineered https://github.com/softScheck/tplink-smartplug/blob/master/tddp-client/tddp-client.py - so there is the possibility of adding a shared preference option of "if battery level gets to 100% tell smart plug at 192.168.86.20 to turn off". That being said, connecting into IFTTT would open it up to their services and broader triggers

[2017-11-03 04:21] kwatkins commented on #2
#9  should close out OW+ support. There is a slight UI bug (might show 2 enabled settings) but it seems to work well enough.

[2017-11-13 17:26] kwatkins commented on #2
Seems we can close this, @ebabel merged the updates and by default OW+ is enabled now.

[2017-11-13 17:26] #2 closed

[2017-11-13 21:10] wmaciel commented on #1
I think could probably be closed.
Thanks for the replies!

[2017-11-13 21:10] #1 closed

[2017-11-13 21:13] wmaciel opened #14 "[Feature Request] Dropbox integration"
It would be very handy if the app could automagically upload your newest log files to dropbox or some other cloud storage service.

As it stands now, one needs a third party app to find the log files and share them somewhere else.

[2017-11-13 21:20] wmaciel commented on #14
I plan on work on this on my following spare time.

[2017-11-13 21:21] ebabel commented on #14
@wmaciel This doesn't look too hard: https://www.dropbox.com/developers-v1/core/start/android
I was thinking about going DB instead of file, but conversion shouldn't be too hard.

Are you uploading the file for adding to a video? I'd like to see that in action if you have some videos to share :)

[2017-11-13 21:28] ebabel opened #15 "[FR] File maintenance in app"
- Delete files

- see details about file in list view
  - trip length
  - nicely formatted date
  - maybe a mini-map?
  - maybe sort/filter the list?

- "share" files? formatted post to facebook/twitter?

this would all probably be more manageable if the logs were actually in DB instead of files

[2017-11-13 21:29] wmaciel commented on #14
Yes, I have a project where I am trying to create a stats overlay over my go pro footage.

I am still having some trouble with flickering on the videos, that is why I haven't published any.

Will soon.

---

i like the DB idea. Is it faster than file writing? A problem with file writing is the IO blocking and the high polling frequency make irregular intervals. Maybe DB solves that?

[2017-11-13 21:31] ebabel commented on #14
@wmaciel had a thought, it might be easier for you to add a 'share' intent for the file instead of integrating with dropbox. Might be easier for users who don't have dropbox as well since its also a 3rd party

I think its up to you, just trying to be helpful

[2017-11-13 21:33] wmaciel commented on #14
@ebabel Why not both?

My android dev knowledge is very limited, so I'll study on how to get those done.

[2017-11-13 21:42] ebabel commented on #14
both is fine too if you have the time :) adding the 'share' intent is like 5 minutes of work, dropbox integration is probably at least a few hours.

DB is faster, but regardless of that we should be doing both async instead of blocking the UI

[2017-11-13 23:15] ebabel commented on #3
@kwatkins you and I can get builds [here](https://circleci.com/gh/ponewheel/android-ponewheel/11#artifacts/containers/0)

Does that satisfy this ticket?

Alternatively I found [this](https://github.com/Triple-T/gradle-play-publisher#usage) which will auto sign and upload to the play store, but looks a little involved in setting up.

[2017-11-14 07:14] ebabel commented on #14
I was thinking more about what you said with the file writing being slow, its because we're closing the file and flushing the buffer on every write. Although safer from loss prevention it is very bad for performance. The database would not have this issue.

[2017-11-14 07:15] ebabel commented on #14
Sorry for the tangent but if you don't mind sending, I'd still like to see the video even if there is flickering :)

[2017-11-14 20:11] kwatkins commented on #14
Love the action_send/sharing intent, opens up the data to any app that read it with just a few lines of code. It's mainly used for simple text, but even for sharing the OW stats files it works good enough.

Fully agree on moving the OW stats from file to a DB content provider, would clean up the technical debt hackery I put in that you all are having to work around (sorry!). It might make it sligh

[2017-11-14 20:14] kwatkins commented on #15
Yeah your onto it, throw the data in a DB content provider.

[2017-11-14 20:38] kwatkins opened #17 "Release plans for app store/roadmap etc"
This is moving to more of an open source community project, which is great, now how should we/or what point release it on the app store? And,
- Possible rename of the app?
- Update description to show contributors etc
- Formalize Issue tracking (bug/feature/design tags)
- Code development, feature branches, development, version tags, release, etc

Or I can simply drop the latest/master on the app

[2017-11-14 20:55] ebabel commented on #14
Don't be sorry Kevin, gotta start somewhere and I'm glad you did!

[2017-11-14 20:59] ebabel commented on #17
Renaming the app is possible, and easy (if that was your question). Changing the package identifier is not possible.

[2017-11-14 22:47] wmaciel commented on #17
- I always wondered why the app was named the way it is. I don't have a problem with it though.
- I would not oppose to a description showing contributors :)
- We could adopt some issue tracking conventions. I'm sure there's some "open" convention we could use.
- I would be fine with feature and release branches. Maybe the issues could have a branch and when closing the issue we just merge to mast

[2017-11-14 22:58] ebabel commented on #17
If you do add a contributors section, please don't include my email

[2017-11-14 22:59] wmaciel commented on #17
That's a good point.
I meant maybe a github link, or just a name

[2017-11-14 23:01] ebabel commented on #17
It's like [Pwn](https://en.wikipedia.org/wiki/Pwn), right? Which is funny for geeks but maybe everyone doesn't know. I like the name but also down for whatever :)

[2017-11-15 20:09] kwatkins commented on #17
pwned - https://publicdbhost.dmca.gripe/ - with an email, able to crack about most anyones password from the leaked data breaches, 2factor to the rescue...

Sounds like the app name is good, I just brought that up in case anyone had opinions on it :)

"I would be fine with feature and release branches. Maybe the issues could have a branch and when closing the issue we just merge to master."

I'm g

[2017-11-15 20:35] ebabel commented on #17
I've been liking MVP lately and sticking to strictly JUnit tests, no android, no espresso.

[2017-11-16 16:57] kwatkins opened #18 "App falls over w/ exception "grpc failed""
Almost there for the Map, getting the exception below w/ and w/out having the location option checked. I also think it'll be fine if we we do location tracking by default when the app starts and make this a default feature (and maybe adding  <uses-library android:name="com.google.android.maps" /> to manifest)

I started to look into it thinking it might be something w/ the environment (Pixel runni

[2017-11-16 19:03] ebabel commented on #18
Were you using the emulator? https://stackoverflow.com/a/5206936/247325

[2017-11-16 22:05] kwatkins commented on #18
Nah ran it directly off my phone. It was a full build/compile from Android
Studio 2, release mode, might be something to do with that.

On Thu, Nov 16, 2017 at 11:03 AM, Erik Babel <notifications@github.com>
wrote:

--

Kevin Watkins l Co-founder

kwatkins@appthority.com l M 415.683.0929 l appthority.com
<http://www.appthority.com/> [image: appthority.com]
<https://www.appthority.com/>

[2017-11-19 02:10] ebabel commented on #18
@kwatkins  Maybe fixed now that I synced up and upgraded versions?

[2017-11-19 02:11] ebabel commented on #18
Studio 2
tbh I'm surprised this still works in Android Studio 2. Maybe try AS3?

[2017-11-21 07:03] ebabel opened #21 "Databinding characteristics are hard to read/maintain"
This is hard to figure out whats going on:
android:text='@{owdevice.deviceReadCharacteristics.get(4).ui_name}'

[2017-11-23 21:06] ebabel opened #23 "[FR] Background Support"
A background service would be a nice feature to add. So you can pull up maps, texting, camera, or whatever and still be logging.

[2017-11-23 21:07] ebabel commented on #23
Might make unit/instrumentation testing more difficult though.

[2017-11-23 21:09] ebabel opened #24 "[Discussion] Kotlin"
How do you guys feel about adding in a little bit, or a lot of Kotlin?

Would it motivate you to contribute more or less to the project?

[2017-11-23 22:12] wmaciel commented on #24
Personally, I am not familiar with Kotlin at all. So I'll be less inclined to contribute. Getting around the android API is a big enough hurdle for me.

If I am the minority though, I can try and take it on.

[2017-11-24 16:11] kwatkins commented on #18
fixed!

[2017-11-24 16:11] #18 closed

[2017-11-24 16:29] kwatkins commented on #21
Yeah - this one is confusing and never turned out like I wanted. The intent was to be able to easily remove/add deviceReadCharacteristics and that be the driver for the ui (ui_name, flags like ui_enabled etc) via data binding. If I recall I think it hit some limits with data binding? or didn't understand some part of it. I think it had to something with limitations of iterations in data binding, o

[2017-11-24 16:32] kwatkins commented on #24
Same, not familiar with Kotlin and first I've seen of it. It may be good, although I can say in my experience languages/frameworks that take ramp-up time to learn from contributors lead to, eh, less contributions :)

[2017-11-24 21:21] ebabel commented on #24
I feel strongly that contributors are most important, closing for now and will circle back later.

[2017-11-24 21:21] #24 closed

[2017-11-25 00:43] ebabel commented on #21
Hmm, maybe abandon databinding? Its definitely nice to have, but also has its limits. I bet we could maybe come up with a dynamic solution that iterates over the characteristics and creates views programmatically. Not sure if its worth the effort but could be cleaner and more powerful.

[2017-11-26 02:50] ebabel opened #25 "[FR] Speed + battery display on Android Wear(Watch)"
Android Wear support

Apparently the iOS watch does all this!
• Low battery alert
• Regeneration alert (battery overcharge warning when going downhill)
• Point of no return message (50% battery charge left)
• Battery fully charged notification
• New top speed message
• Wheelslip detection
• Consumption display: tells you how much percentage of a full battery charge you have already burned
• Regene

[2017-11-26 20:02] ebabel commented on #15
@wmaciel Maintaining the order of the characteristics for csv format may be a bit tricky. Would you mind switching to a json format? Still waiting for a 🎦

[2017-11-26 21:12] wmaciel commented on #15
@ebabel JSON would be fine, much more resilient actually. I can make the changes on my other project once it goes live.

Are we planning on switching to JSON before going into the DB format?

When you say putting the logs in the db, what exactly is being written there?
Would every log entry be an entry in the database? or every file?
Is JSON the file the db naturally outputs when?

BTW, I've uploa

[2017-11-26 21:22] twyatt commented on #24
I think allowing Kotlin in the codebase will encourage more contribution. As many developers are looking to improve their Kotlin skills and contributing to open source is a great way to get practice in an open forum.

That being said, Kotlin is fully interoperable with Java, so those who are more comfortable with Java can continue their contributions in Java.

[2017-11-26 22:27] ebabel commented on #15
Right now, on my branch, data is going straight into the db, as text values in relational tables. There ideally would be no files created by default and only created when the user wants to export a certain ride.
Looking at the [branch](https://github.com/ponewheel/android-ponewheel/tree/saving-to-db/app/src/main/java/net/kwatts/powtools/database) you can see that Ride, Moment, and Attribute are al

[2017-11-26 22:58] ebabel commented on #24
Ok, let's go with @twyatt's PR and see what shakes out with contributions. We should aim to keep massive overhauls off of the table so as to reduce impact.
It's quite likely at this point that Kotlin is the future of Android and I think you guys will like it. As Travis said its easy to call kotlin code from Java, and I'm totally down to help out with that. If you want an awesome primer, check out

[2017-11-26 23:46] ebabel commented on #17
I'm down to release to the app store as often and soon as possible! The store version still doesn't have plus support, right? That's HUGE!

[2017-11-27 00:32] wmaciel commented on #15
I could work with .db, but I think that would make it harder for other people that just want to look at their logs in something like excel, or tableau.

I even think that JSON is already be adding an extra layer of complexity if anyone just wants to start looking at the data in excel, for instance. But it might be okay because it is still text file readable.

I'd rather stick to JSON or csv as exp

[2017-11-27 00:34] wmaciel commented on #17
I agree, I think that constant updates shows that the project is not dead and keeps people interested in whats coming up next.

[2017-11-27 00:34] wmaciel commented on #17
Of course, that will require a bit more scrutiny before merging into master.

[2017-11-27 02:35] ebabel commented on #15
I was thinking/hoping we could make the app nice enough for users to stay
in the app, but there is no reason we can't also provide the export to
Excel feature as well.
Just a little more work and hopefully the order of the columns won't be
difficult to maintain.
Maybe alphabetically or something

On Sun, Nov 26, 2017, 4:32 PM Walther Maciel <notifications@github.com>
wrote:

[2017-11-27 23:33] kwatkins commented on #21
Would take a bit of work for little return right now, agree we should avoid it when we can and slowly phase it out.

[2017-11-28 06:50] ebabel opened #28 "CircleCI builds are failing"
Probably due to out of memory. Maybe because of all the test dependencies? We should choose which ones we need, or delete them and add as needed.

[2017-11-29 18:14] kwatkins opened #30 "Accessing logged rides crashes app"
Testing out the database updates, sometimes it opens the logged ride, and as soon as I try and move the map I get a crash.

The exception that gets thrown:

`11-29 10:08:03.337  9197  9268 E AndroidRuntime: Process: net.kwatts.powtools, PID: 9197
11-29 10:08:03.337  9197  9268 E AndroidRuntime:      at net.kwatts.powtools.MapActivity.setupChart(MapActivity.java:250)
11-29 10:08:03.337  9197  9268

[2017-11-29 18:35] ebabel commented on #30
I fixed that, it was because we needed to switch to the UI thread.
sha c27e7e6

[2017-11-29 18:37] ebabel commented on #30
@kwatkins You weren't on that sha yet right?

[2017-11-29 18:45] kwatkins commented on #30
Oh, no, I'll grab that. Yeah just found out that was the issue lineChart.invalidate() - you might want to add some exception handling in places, threading can be helll

[2017-11-29 19:10] ebabel commented on #30
Thanks for testing!

[2017-11-30 06:08] #30 closed

[2017-12-01 21:37] ebabel opened #34 "Boosted Board & others support"
It would be awesome to support multiple boards. I don't know anyone else with a board (other than onewheel). Looks like boosted has an iOS app but Android has been missing for years.

[Inboard](https://play.google.com/store/apps/details?id=com.inboardtechnology.inboard) has a nice iOS app (not as good as OW) but for Android it can only flash new firmware.

[2017-12-11 11:55] ocornu opened #35 "Multiple small issues"
Hi,
I'm running the Google Play version (2.3), so I'm afraid what I'm gonna say next has long been fixed. That's why I'll bundle them in a single ticket here. By the way, I'd love some documentation on how to build this —I've never built an android app before!

1. Selecting the "Metrics Units" checkbox does not work over app restart (option is selected ok, but metrics units won't show up until you

[2017-12-11 19:43] ebabel commented on #35
@ocornu Thanks for this great feedback and suggestions. Will fix asap.

[2017-12-12 01:10] ebabel commented on #35
Fixed metric units problem in #36

[2017-12-12 01:27] ebabel commented on #35
@kwatkins do we know if the device is plugged in to the charger?

[2017-12-12 01:33] ebabel commented on #35
@ocornu What sound would you want to hear for the speed alert?

[2017-12-12 08:38] ocornu commented on #35
Seems so:
![image](https://user-images.githubusercontent.com/54847/33874602-a5ad8dc8-df1f-11e7-9246-115b591df2b7.png)

Well, any sound would do, but: good point. :)
Mmh... How about a cop/ambulance siren sound?  Something that suggests breaking the speed limit, or getting closer to riding back in an ambulance... :D

[2017-12-12 21:38] ocornu commented on #35
@ebabel lol
Perhaps a shorter version of http://soundbible.com/581-Police-Siren-3.html ?
I like http://soundbible.com/45-Police-Siren.html better, but its licensed for personal use only. :/

[2017-12-12 21:41] ocornu commented on #35
For the record; the max speed alert idea comes from OneDan+ on the OW forum: http://community.onewheel.com/topic/7477/customizable-top-speed-warning-please

[2017-12-12 23:14] ebabel commented on #35
Thanks for the link, there is a lot of interest in this feature!

[2017-12-12 23:44] kwatkins commented on #3
Yeah looks like I need to update the one on the app market soon

[2017-12-12 23:44] #3 closed

[2017-12-13 01:01] kwatkins commented on #35
@ocornu great ideas!

re: getting the charging state @ebabel I just sadly confirmed that flag doesn't set when the OW is charging (deviceStatus.charging). It's always false. You could keep state on the amps added or the battery %, that should work.

[2017-12-13 05:05] wmaciel commented on #35
The official app knows when it is charging, there's gotta be a way to know.

I think having a watch on the battery percentage might not be enough as if you start going downhill and end up "charging" the battery past the set limit you might confuse some people.

Maybe if the speed is also zero we could fire the alarm, but thats a bit contrived, I think.

[2017-12-13 05:08] wmaciel commented on #34
I have a couple of friends with evolve boards, and I believe the board only talks with the remote.
I am guessing it is bluetooth, but don't know for sure.

At least in the evolve case, even if we could intercept the communication with the remote, there is very little information going back and forth. I'd say only rpm and battery charge?

[2017-12-13 09:37] ebabel commented on #35
hmm, for now I'll just always play the sound when the checkbox is checked and the percent is over the user's requested percent. They can turn it off when they're done charging and back on again when they start.
If you guys think of something better let me know.

[2017-12-13 10:06] ebabel commented on #28
@twyatt still OOM but now passing, see [92](https://circleci.com/gh/ponewheel/android-ponewheel/92)

[2017-12-13 12:20] ocornu commented on #35
Yeah, bit 15 of the status register (the infamous "status 8192") isn't it?

[2017-12-13 12:28] ocornu commented on #35
It seems official app is giving status 8196 when full. Is bit 2 a "battery full" flag?

[2017-12-13 13:58] twyatt commented on #28
Well that's concerning: an exception is thrown during build but still "succeeds". I'll try to find some time to look into it.

[2017-12-14 03:09] ebabel opened #39 "Battery level in notification"
from http://community.onewheel.com/topic/7323/add-batter-level-to-android-notifications

[2017-12-14 04:29] ebabel commented on #35
Optional charge alert that would play a sound when you reach a certain level. Would help you stop recharging before 100% when starting from a hilltop.

Fixed in #38

still need:

[2017-12-14 07:15] ebabel commented on #25
@kwatkins can you tell me how many people use the app with an android version of less than sdk 23?
It looks like this is the ideal min version for Android Wear. Maybe not a deal-breaker but more work.

[2017-12-14 10:07] ebabel commented on #15
this is done I think. but we are still saving the file in the old way in addition to the new way, need to clean that up

[2017-12-14 10:08] ebabel commented on #14
@wmaciel we can close this, right?

[2017-12-15 00:09] kwatkins commented on #25
Close to 8% are running versions under 6.0/SDK 23 - and those are Android 5.x. Don't see it as a deal breaker. It's more how many active users are actually using android wear watches and would use the feature... personally I haven't seen a good enough watch to make it worthwhile.

![image](https://user-images.githubusercontent.com/854957/34020267-1e481018-e0e8-11e7-869e-6470499845e4.png)

[2017-12-15 00:13] kwatkins commented on #34
Any could be done, I have BLE hardware sniffers although simply reverse engineering the official apps is all it takes. It's a matter of us getting one that we like enough to do it, right now, haven't seen anything better than OW+ ... :)

[2017-12-15 00:39] ebabel commented on #25
Even though I agree with you about the watches, there is interest on the forums. I think maybe I'll lower the priority on this ticket and eventually maybe look into how to keep 5.0 support while adding the wear. I know its possible just not sure how much of a pita.

There is a watch app for the OW on the store for $6, so its not like they are just high and dry.

[2017-12-15 00:48] kwatkins commented on #25
Agreed

-- Kevin

On Thu, Dec 14, 2017 at 4:39 PM, Erik Babel <notifications@github.com>
wrote:

[2017-12-15 08:31] ocornu commented on #35
Awesome, thanks!
You guys are super reactive, kudos!

[2017-12-15 18:51] wmaciel commented on #14
i think so.
we got a way to share the file from within the app now.
I think adding auto sync with dropbox or drive could come after we have the logs in a db, otherwise we'll have to redo a lot of work.

[2017-12-15 18:51] #14 closed

[2017-12-15 18:55] wmaciel commented on #17
The first version of my OW hud video is out and it got quite a bit of buzz about which app I used to get the logs.

A lot of interest in using it on the OW+

Do you guys think we could tidy up and make a release focusing on getting OW+ support out?

I think this could generate quite the traffic to the app, and we could get some nice feedback.

[2017-12-15 21:50] wmaciel opened #42 "Start and stop logging button"
If I am not mistaken, as it stands now, the app starts logging the board's info as soon as it connects.

If we had a start and stop logging button, similar to the ride mapping in the original app, it would make easier to know when a ride starts and stops, making it easier to know when to keep polling gps data and how to split the logs in the database.

[2017-12-15 21:52] wmaciel commented on #39
We don't have a persistence notification do we?
This would be helpful if we could have the app loggign in the background, which I think we can't

[2017-12-15 22:21] wmaciel commented on #34
lol, flame wars started.

I particularly like the evolve boards.
But I believe the boosted board has a bigger user base. Maybe start there?
We'd need someone with a board, though.

[2017-12-16 00:16] ebabel commented on #42
@wmaciel To be honest I like not having to manage logging as a user. I never want to forget to start it and then crash and wish I had started it. Also adding the button could add clutter to the UI.

I would even prefer not to manage the connection. Just auto connect when the app starts like the official app does.

You are right about the app starting logging on connection but also note that if it

[2017-12-16 00:19] ebabel commented on #39
logging from the background is possible, see #23
And you're right, we don't have a persistent notification. We should.

[2017-12-16 20:58] ebabel commented on #17
Sounds good to me. What's on the list?

[2017-12-20 03:50] kwatkins opened #44 "How I added an on-the-go battery for OW+..."
Not an issue/feature request/etc more of wanted to pass the notes on my latest project to team... I finally succeeded in getting a battery pack and charger etc to be able to charge on the go. Now can finally make it to the ocean on the golden gate park runs...

![img_20171216_153225](https://user-images.githubusercontent.com/854957/34190322-db65912e-e4f4-11e7-8a75-4caaa7b0e465.jpg)

You need,
- th

[2017-12-27 22:41] kwatkins opened #49 "Add option of using features w/out OW, using the GPS and other sensor data on device"
(Right now this setting this as a discussion, mainly because I'm not entirely sure what I'm asking for :-)

We get requests to support other boards, and something that I thought about while snowboarding last week and really enjoying/getting use to what our app provides - we may be able to do a small subset of features from using mobile device sensor data. GPS for speed + top speed, speed alerts, t

[2017-12-27 22:46] kwatkins commented on #49
Also the app I use for snowboarding, and have for years, is the lightweight and dependable 'Ski Tracks' https://play.google.com/store/apps/details?id=com.corecoders.skitracks&hl=en - it's worth checking out and shows similar features that we have for pOneWheel

[2017-12-28 00:32] kwatkins commented on #17
@ebabel @wmaciel @twyatt dropped the current master as an open beta release
https://play.google.com/apps/testing/net.kwatts.powtools
I'll also update the main page for this link.

[2017-12-28 03:51] ebabel commented on #17
Awesome Kevin!

Was this a33afdc? If so we should tag it.

[2017-12-28 17:01] kwatkins commented on #17
Yep - tagged (v3.0-beta) and set as a release in Github.

@ebabel looking into sharing the project on google developer console w/ya, not sure if it can be done but should be a common enough scenario/use case.

[2017-12-29 17:36] kwatkins opened #50 "Add a "donate" button under settings"
One thing that I've been asked before is how to donate, what about adding a donate option, mentioning it would go to the contributors their time (and likely to their OW funds). Is there an easy service that would do this? Even better if it actually showed contributions and total, an incentive for people to donate.

[2017-12-29 20:07] biell opened #51 "Small screen display issues"
I attached a screenshot of the pOnewheel app running on my Samsung Galaxy Alpha (an older phone running 5.0.1).  Please notice that the 5 shapings contain wrapped words.  Also, look just above at the battery section.  Due to wrapped words, the text does not all fit in the box.

If you can detect the screen resolution and choose a smaller font at lower screen sizes, that would be helpful.

![screen

[2017-12-29 20:52] ebabel commented on #51
@biell Thanks for the screenshot! I think Android has a nice new library for auto-sizing text that I've been meaning to try out.

[2017-12-29 21:12] ebabel commented on #50
https://github.com/PrivacyApps/donations

[2017-12-30 07:39] kwatkins commented on #50
Well damn, bitcoins will get us the toys... I'll look into adding this.

On Dec 29, 2017 1:12 PM, "Erik Babel" <notifications@github.com> wrote:

[2018-01-05 04:15] wmaciel commented on #42
@ebabel I see your point and understand it.

I think what I am actually missing is some kind of feedback from the app to assure me that it is actually logging. Something other than the momentary toast message. Maybe a blinking red "light" somewhere on the ui. idk.

Throwing ideas around.

[2018-01-05 04:20] wmaciel commented on #39
I could take this issue and try to move it forwards. It might be a good android learning experience.

[2018-01-05 05:32] ebabel commented on #39
Cool! Let me know if you get stuck or anything.

[2018-01-05 21:24] muellergit opened #52 "Ride Mode Switching On-the-fly"
Thank you for the app improvements so far, adding the plus and also logging interval.

I was testing the beta app while indoors (it has been too cold and salty/filthy to try outside) and noticed that the ride mode can be changed while moving! This is a feature I have seen mentioned in the groups several times. How much testing has been done to see how the OW responds to switching at higher speeds?

[2018-01-05 22:39] ebabel commented on #52
My guess is that the board isn't actually changing these modes but there is a bug in the app that makes it look like this is happening. @kwatkins what do you think?

@muellergit thanks much for using the app and letting us know!

[2018-01-05 22:40] ebabel commented on #52
A safer way to test this would be to switch from one mode to another at 3-5 mph. Then close out the app and open the official app and see what mode you're in.

[2018-01-05 22:44] ebabel commented on #42
Yeah, I like this idea. Maybe add in a new 'card' below the ride mode.
Maybe take the full width and do something with the right side, like:
Logging: ON   Location: ON

Or have a saved rides counter? Just a thought

[2018-01-05 22:47] ebabel commented on #42
Or we could shrink the lights card and put it next to that.
I'm imagining a smaller lights card could show two light bars and be a button that goes into a screen for just the lights?

[2018-01-05 22:57] ebabel commented on #42
Hmm, maybe a little nicer to also have a ready state?
"Logging: READY" when not actively riding, and "Logging: ON"

[2018-01-05 23:44] kwatkins commented on #52
It actually does change the riding mode on the fly! One of the stronger differentiating features of our app IMO. I use it all the time, especially when going from concrete (mission mode) to dirt trails (delerium)

[2018-01-05 23:54] kwatkins commented on #51
@ebabel ugh ya predict this issue will get lots of hits, took forever to get the previous version sized to make everyone happy. good to hear there is a library that does that.

[2018-01-06 00:13] kwatkins commented on #42
Hmm - the trip connected time in the device attributes list flips on when the board is connected. We could add under that the "Logging" on/off state, basically another device status state. That would be the easiest thing to do. Wouldn't have purty colors tho (not sure how easy it is to add color to the text output w/ the data binding mess). From there it'll be available & then explore making it fa

[2018-01-06 02:24] ebabel commented on #51
After trying this out I realize that we can't use the library as we don't want different font sizes for each button and it doesn't resize across multiple views.
I tried calculating how much size we'd need, but that was getting very complex.
How about just using a horizontal scrollview? Also, do you like having them as buttons?

![screen shot 2018-01-05 at 6 12 19 pm](https://user-images.githubuser

[2018-01-06 03:30] kwatkins commented on #51
Ahh if horizontal scroll bar will do the sizing then sounds good to me. I'm
not attached to buttons, anything that is easy to just touch/select (since
this needs to be easily selected while on the move)

On Jan 5, 2018 6:24 PM, "Erik Babel" <notifications@github.com> wrote:

After trying this out I realize that we can't use the library as we don't
want different font sizes for each button and it d

[2018-01-06 21:01] biell commented on #51
A scroll would work, but there are two things which should happen if possible with a scroll:
 1. the window should indicate there is more to the left or right somehow.
 2. The current setting should be visible unless the user has scrolled away from it on purpose.

[2018-01-06 21:10] biell commented on #52
My question, then, would be why does the official app require you to be at 1MPH or lower?  Is it b/c they aren't sure it is safe, or could potentially harm the board?  I would guess it is the former.  If it is the former, then you sill may want a max speed, like 12MPH whereby the board will clearly have enough reserve power to handle the transition.

I know that there are programs which override a

[2018-01-07 22:46] muellergit commented on #52
It definitely changes mode. I can feel the nose elevating after switching
from Mission to Elevated. I just can't test it at speed in my apartment
(weather and salt outside preventing me from getting out).

On Sat, Jan 6, 2018, 3:10 PM William Totten <notifications@github.com>
wrote:

[2018-01-08 00:49] ebabel commented on #52
Yeah, I think we should do this ASAP: prevent user from changing while at speed (unless they change it in the settings). This sounds too dangerous to be allowed by default.
Regarding the volume buttons: absolutely do-able. If thats really what you want. Seems like it could be less than desirable with the ease in which you could switch to beginner mode and get kicked off. I like @biell's idea: a ma

[2018-01-08 16:56] kwatkins commented on #52
Agree on the speed check before ride mode change, I'll pick that one up. I'm fairly sure the speed change would be gradual but without knowing for sure best be safe. I might just try it, on grass or some soft spot landing :)

Almost certain the official app is doing it for safety reasons.

The volume change, I do like this. Some where you have the volume up/down in settings w/ a dropdown set to th

[2018-01-08 19:51] muellergit commented on #52
Changing modes on the fly is a great feature if it is safe! Not sure about
using the volume up down buttons because Elevated is in between Mission and
Delirium and I would not want to move through Elevated if I wanted to go
back and forth between Mission and Delirium (and for the reason of
adjusting the volume of my music also).

On Mon, Jan 8, 2018 at 10:56 AM, Kevin Watkins <notifications@github

[2018-01-12 01:26] muellergit opened #55 "Riding Focused Display Enhancement Idea"
I am thinking it would be useful to have a "Riding Focused Display" instead of the current display. Even the official OW app display is not optimized and designed to be most useful to look at while riding.

For instance, Speed and Range should be the largest size possible along with anything else that is useful to see at a glance while riding.

My perfect app would allow several color keyed line g

[2018-01-12 01:28] muellergit commented on #55
I'm pretty excited about the potential for this app. For instance, if there is a way to disable the board from the app and unlock as a security feature that would be huge. But also mode change while riding is a huge feature if it is safe or can be set to not allow unsafe mode changes.

[2018-01-12 02:10] kwatkins commented on #55
Locking the board via software would be great, I just haven't seen any
features via the Bluetooth services on the board that would do it. There is
a UART service used, I think, for firmware upgrades - it may be possible to
use that to 'cripple' the board as a lock. Or with my luck, brick the thing.

Open to any and all ideas on how we could pull this off...

On Jan 11, 2018 5:28 PM, "muellergit" <

[2018-01-12 02:12] ebabel commented on #55
"Riding Focused Display" love this idea!

[2018-01-12 02:14] ebabel commented on #55
Feel free to provide mockups on the UI, thats very helpful. Even a sketch!

[2018-01-12 22:53] muellergit opened #56 "Battery Temperature Not Logged"
I noticed that battery temperature is not being logged, and since that statistic is very important when trying to understand battery performance in the cold Winter I think it should be included.

I found in the OWDevice.java file where all of the Characteristics are pulled in from the board and how only some are selected to be logged, so I could add it myself but don't understand the process of us

[2018-01-13 03:29] kwatkins commented on #56
Glad your jumping into the code, your observations/questions are the type
that will help and improve the app.

There are a good handful of characteristics that are referenced in other
places - like the official app - and they don't return anything.
SafetyHeadroom included. I remember figuring out what that meant but forgot
:/.

I will plan to try listening to all the Bluetooth notifications from t

[2018-01-13 22:55] muellergit commented on #56
I look forward to getting more into this and how to use Github after I move
this month.

Battery temperature is definitely there and put into the characteristic
"dc" array variable anyway, just not selected by the code that sets up what
is pulled from that for the logging.

On Fri, Jan 12, 2018 at 9:29 PM, Kevin Watkins <notifications@github.com>
wrote:

[2018-01-14 00:36] ebabel commented on #50
Just found this: https://moneybadger.io/
better than just giving out a bitcoin address?

[2018-01-14 21:00] ebabel commented on #15
@wmaciel can you test your video creation from the latest version of master and close this bug?

[2018-01-14 21:11] ebabel commented on #56
When we get the notify with uuid for OnewheelCharacteristicBatteryTemp its actually getting set into `value` of `characteristics.get(OnewheelCharacteristicTemperature)`

OnewheelCharacteristicTemperature has its own uuid, so I think this is a mistake.
controllerTemp is also getting assigned to the same place.

[2018-01-14 21:56] ebabel commented on #56
@muellergit join us here: https://join.slack.com/t/ponewheel/shared_invite/enQtMjk5Nzg0NzAzMzAzLTRmMDY1YWVlN2NlYThhMDRkNzEyMTIwOWRmM2Y3YzcyNDRkMmRkM2I1Zjc3MWQ4ODc1OTNiMjAwZGZhZjYxOTA

[2018-01-14 22:36] ebabel commented on #56
I tried adding the OnewheelCharacteristicBatteryTemp uuid to notify characteristics thinking that maybe you just forgot to add it and its not coming back with anything. @kwatkins can you take a look at that?

see branch [batteryTemp](https://github.com/ponewheel/android-ponewheel/compare/master...batteryTemp)

[2018-01-15 07:48] muellergit commented on #55
Here's a nice example of an e-bike display similar to what I am thinking
for a "Riding Focused Display" that is landscape format (so it can be worn
on the arm while riding) with large speed in the center and a motor power
meter wrapping around it. Also has a nice battery and temperature display
concept.

Another nice thing to be on this screen for the OW would be
[ELEVATED]-[MISSION]-[DELIRIUM] Sh

[2018-01-15 08:06] ebabel commented on #56
I fixed the battery not showing up in the UI, although if I understand it correctly its meant to be read on demand and not on an interval like the other stats we log, which means the log will only show one value.

[2018-03-12 17:52] kwatkins opened #63 "Identify + fix BLE re-connection issue"
Whenever there is a disconnect to OW device that isn't done by the user - for example, turning off the OW without hitting the "disconnect" button, the app has problems trying to reconnect. The workaround could be either fully closing and restarting the app and/or turning on and off bluetooth in the device settings.

I'm not sure what is going on, logs aren't showing much, so adding verbose logs in

[2018-03-12 17:58] ebabel commented on #63
I have a friend working on one and has investigated all of them he can find. He says there is sadly no silver bullet.

[2018-03-12 18:34] kwatkins commented on #63
Sad panda.

On Mon, Mar 12, 2018, 10:58 AM Erik Babel <notifications@github.com> wrote:

[2018-03-13 07:09] twyatt commented on #63
As @ebabel mention, It isn't easy to get bluetooth right on Android, but this might help...

In your `BluetoothUtilImpl`:

https://github.com/ponewheel/android-ponewheel/blob/bbc9cd217252aeb8ef5b313ce923b3934c64b180/app/src/main/java/net/kwatts/powtools/util/BluetoothUtilImpl.java#L328-L345

Upon disconnect you reconnect using `BluetoothDevice.connectGatt`:

https://github.com/ponewheel/android-po

[2018-03-13 15:45] kwatkins commented on #63
Thanks Travis, I'll give this a try!

On Tue, Mar 13, 2018, 12:09 AM Travis Wyatt <notifications@github.com>
wrote:

[2018-03-13 20:55] kwatkins commented on #63
@Travis that did the trick. Now onto the next bug after fixing that one,
the board reconnects but the UI thread doesn't. That should be easy
compared to this one, big thanks again for spotting it.

On Tue, Mar 13, 2018, 8:44 AM Kevin Watkins <kwatkins@gmail.com> wrote:

[2018-03-13 20:58] kwatkins opened #64 "Support multiview"
Looks like when jumping into multiview the UI resets and disconnects, not sure what is needed but it would be cool to have this support.

[2018-03-13 21:02] kwatkins commented on #52
This has been done, also found out that the board prevents the riding mode change when your going 12+mph, so it's got our back :)

[2018-03-13 21:02] #52 closed

[2018-03-13 21:03] #44 closed

[2018-03-13 21:03] kwatkins commented on #50
Closing, we got a PayPal link for now.

[2018-03-13 21:03] #50 closed

[2018-03-13 21:04] ebabel commented on #64
Texting while riding? Or maybe filming?

I have a feeling all we need to do is capture configChanges, not too difficult.

[2018-03-31 18:52] #15 closed

[2018-04-10 07:42] ocornu opened #67 "Android 4.4 support?"
I'm looking into cheap wrist Android phones, like the [DM98](https://www.aliexpress.com/item/Smartch-Original-DM98-Smart-Watch-MTK6572-3G-Smartwatch-900mAh-Battery-512MB-Ram-4GB-Rom-Camera-Bluetooth/32835711258.html?spm=a2g0s.13010208.99999999.269.mfRIVt)  or LEM4, but most come only with Android 4.4.
What's requiring Android 5.0+ in POnewheel?

[2018-04-10 16:28] ebabel commented on #67
I bet you could spend a fair amount of time optimizing it for the cheaper phones with lower battery capacity and slower CPU. Neat idea though!

[2018-04-11 07:36] ocornu commented on #67
Thanks kwatkins! I don't have the phone yet though: was investigating before i pull the trigger...
Are you suggesting I another option, ebabel?

I've developed in many languages, Java included, but I've never worked with Android. Should I expect a lot of difficulty? How long to get from zero to successfully compiling an APK you guys think?

[2018-04-11 16:36] ebabel commented on #67
Yeah for sure, the difficulty isn't in making your first app, its more about supporting old phones with BLE, or optimizing performance/battery drain. To be honest, its hard to say how our app would do on those phones, but I like @kwatkins's optimism!

[2018-04-23 01:41] kwatkins commented on #63
This is fixed, thanks again. This actually made the last release the most solid yet,

[2018-04-23 01:41] #63 closed

[2018-04-27 20:42] Arslanshn opened #68 "New logo design for the project"
Hi, I want to design a new logo for the project completely free...

[2018-05-01 23:37] kwatkins commented on #68
Thanks, but hard to beat our current logo :)

[2018-05-01 23:37] #68 closed

[2018-05-30 15:36] kwatkins opened #69 "Fix GPS logging + CSV export is broke (not sure if one broke the other...)"
GPS isn't being logged, fixed in branch notifications

Now noticed CSV export is a bit off, looks like it's getting a return carriage. Will look into it.
[owlogs_2018-05-27_14_55.csv.txt](https://github.com/ponewheel/android-ponewheel/files/2054592/owlogs_2018-05-27_14_55.csv.txt)

[2018-05-30 17:11] muellergit commented on #69
Is this issue related to why I can't find any of my ride logs now? They are
listed in the app but I can't find the files anywhere on my device. Also
when I tap on a ride in the app the app spins its wheels for a few minutes
and then returns to the logged ride list without doing anything.

On Wed, May 30, 2018, 10:36 AM Kevin Watkins <notifications@github.com>
wrote:

[2018-05-30 17:29] ebabel commented on #69
@muellergit Hit the dots in the upper right (next to scan), you'll see Logged Rides in there. You can export any ride and share it.

[2018-05-30 17:47] kwatkins commented on #69
Right, you just export the ride and share it - it's not file based anymore,
but stored/exported from a local database.

Not being able to open a ride, not sure, it may be related. If you have the
error logs that would help. And/or wait until this fix comes out and give
it a try...

-- Kevin

On Wed, May 30, 2018 at 10:29 AM Erik Babel <notifications@github.com>
wrote:

[2018-05-31 17:26] muellergit commented on #69
Where can I find the error logs? I can't swipe right from the logged rides
screen where the "error" is occurring. Not sure if it is a error now
though, see below.

I tried a few more tests with the app... The app seems to be returning with
"No chart data" because the app is still working on displaying the charts
for several minutes and then my phone screen locks and the app stops its
processing. M

[2018-06-01 23:44] ammarraisafti opened #70 "pOnewheel v 3.3 Fatal exception after setting Logging Frequency in android 7.0"
The application stops when setting the log frequency.

[2018-06-17 18:07] kwatkins opened #71 "Does ponewheel work with OW+ XR? (confirmed, works great)"
XR = Future Motion secures the spot at the top for electric boards - it adds just a bit of torque to get over those roots on the steep trails, but it's the bigger battery that does it - that was crushing me w/ OW+, constantly having to watch the battery %. No more.

When I get time I'll see if there are added BLE characteristics or configurations.

It would still be cool to be able to edit/modify

[2018-06-17 18:37] kwatkins commented on #70
Cool, thanks for logging. Should be an easy fix.

[2018-06-17 21:45] ammarraisafti commented on #70
okay, thanks again.
I want to ask. Would you like to receive a new Logo contribution for this
project. If you want to accept it. I'll be designing a sweet new logo for
this app. And give me some time to work on it for a few days. thank you

Pada tanggal Sen, 18 Jun 2018 01:37, Kevin Watkins <notifications@github.com>
menulis:

[2018-06-18 01:51] kwatkins commented on #70
Ahh thanks for the offer, current logo is fine.

On Sun, Jun 17, 2018, 2:45 PM ammarraisafti <notifications@github.com>
wrote:

[2018-07-03 19:01] audkar opened #72 "Current targetSdkVersion 21 doesn't met mandatory requirements"
Since 2018 November it is required that all applications target at least Android SDK version 26. [Docs](https://developer.android.com/distribute/best-practices/develop/target-sdk)

I have looked to source code very briefly and see some changes which will be required to increase version:
- [ ] Runtime permissions
  - Location
  - External storage
- [ ] Doze mode, foreground services. Probably clean

[2018-07-03 23:05] ebabel commented on #72
regarding accepting contributions: Absolutely!

[2018-07-06 07:59] audkar commented on #67
Android 4.4 doesn't support BLE at all. [Doc link](https://developer.android.com/reference/android/bluetooth/BluetoothAdapter.html#getBluetoothLeScanner()) This is mandatory method for application and it was added from android 5.0 (sdk 21)
https://github.com/ponewheel/android-ponewheel/blob/0799bf50e5174cc2c3afbe47daee120c4c14393e/app/src/main/java/net/kwatts/powtools/util/BluetoothUtilImpl.java#L

[2018-07-06 16:09] audkar commented on #23
How this should work?
Most straightforward solution I can think is to refactor bt connection/tracking logging from `MainActivity` to foreground service.
From user perspective this would look like:
- `MainActivity` opened.
- `Scan` button clicked
- BT turn ON intent dialog shown (only if BT is off)
- Foreground service Notification shown. (here bt connection started).
- `X` clicked. At this point f

[2018-07-07 21:15] kwatkins commented on #23
Hmm... having an always visible notification is fine I think. Constantly show a heads-up like dashboard with the current battery % and maybe speed, if it isn't too notification heavy.

Your method might be just fine, my thoughts when I saw this PR was wrapping the services in an actual Android Service (startService() etc) and passing the data via intents or http://square.github.io/otto/

Goal at t

[2018-07-08 13:45] audkar commented on #67
@kwatkins @ebabel What do you think?

[2018-07-08 15:59] kwatkins commented on #67
Sounds good to me.

On Sun, Jul 8, 2018, 6:46 AM Audrius Karosevicius <notifications@github.com>
wrote:

[2018-07-08 20:36] ebabel commented on #67
Thanks for looking into that @audkar. I'm all for sticking with 21

[2018-07-14 00:09] two-x opened #76 "Need accurate fuel gauge for use with OW+ with Two-X upgrade"
Kevin and I were talking about how those of us with Two-X OW+s could have accurate remaining battery indication.

The Two-X replaces 2.5Ah OW+ battery with 5Ah battery otherwise the same.  But it seems the board insists on assuming it has 2.5Ah battery.  Symptom is, after full charge, app says 100%.  Say you use up 1.25Ah, then the app will say 50%, as if it had a 2.5Ah battery still.  But with Tw

[2018-07-14 00:14] ebabel commented on #76
My OW is broken in that it shows 100% for miles. I'd be all for an implementation that tries to gauge based on voltage. Maybe storing the min and max known voltages in sharedPrefs? Or just guessing on the min voltage?

[2018-07-14 00:33] muellergit commented on #76
Hey all. I've been estimating remaining range by the voltage with my 2X CnR
setup using the EGO battery directly connected through the XLR and the
existing internal battery. My voltage chart is not completely accurate but
better than every app I've used including Ponewheel. I was going to look up
the code to see how Ponewheel calculates range remaining and battery % but
haven't yet.

Attached is t

[2018-07-14 00:59] ebabel commented on #76
@muellergit attachment didn't work via email. Care to add directly on github?

[2018-07-14 17:40] kwatkins commented on #76
@muellergit
The %/State of Charge comes directly off the OW (0-100). I assume it keeps an internal voltage chart, that gets out of line occasionally and needing a reset by draining the battery and nosediving on hillway ave.

Thoughts on how we can extend the model you have to any battery source? From what I can tell on https://en.wikipedia.org/wiki/State_of_charge this would be an "offline" techni

[2018-07-14 17:50] muellergit commented on #69
Here is the chart I came up with from monitoring voltage when doing full
range testing. This works pretty well, but doesn't work while the batteries
on under load because the voltage sags. For the stock battery the range
estimates are all half of this chart.

{Unloaded Volts} ~ {Range remaining} = {Actual charge remaining} {Estimated
Trip Distance}

54V ~ 15 miles = 100% 1
53V ~ 12 miles = 80% 3
5

[2018-07-14 18:14] #71 closed

[2018-07-15 01:09] muellergit commented on #69
Ok, here are a couple more thoughts on this.

How about a setting where you can enter your total Watt hours of batteries
and the app uses that in its range calculation? It would have the stock
battery Wh as a default but you could change it to include any add on or
CnR batteries.

The voltage/range chart I made is directly proportional to voltage/charge
of course. And those discharge curves are av

[2018-07-15 14:31] two-x commented on #76
A voltage lookup table would be a really nice option which should work with
small and large batteries.  This would probably work fantastic, and keep us
from having to mentally linearize the the voltage level based on the
discharge curve.  But it's dependent on the shape of that curve, which
differs with battery chemistry and with degradation level.

Could it somehow self-calibrate by counting the

[2018-07-15 19:14] kwatkins commented on #69
@muellergit - this sounds sweet, a setting that you can enter total watt hours and/or presets, like for the two-x. Your chart seems like a good first cut, and it's heaps better then what we have now - and gets us an estimated distance trip distance.

How are you on doing a first cut of this? You seem to know it better than any of us. Let us know, I can try to add it as well, but not sure I know en

[2018-07-16 03:53] #67 closed

[2018-07-16 04:03] #28 closed

[2018-07-16 05:09] audkar commented on #64
I believe multiview is working now. Moving Bt connection to separate service solved this. @kwatkins

[2018-07-16 10:07] audkar opened #82 "Debug setting does nothing"
When I toggle ON this Debug option setting:
<img src="https://user-images.githubusercontent.com/1947112/42752975-2b243b3c-88f8-11e8-958a-b8230164151c.png" width="150"/>

only this empty layout appears in main screen:
<img src="https://user-images.githubusercontent.com/1947112/42753026-55a05760-88f8-11e8-92f7-d920582d2be5.png" width="150"/>

- No code is associated with this view
- Settings descrip

[2018-07-16 16:38] kwatkins commented on #64
@audkar awesome! I'll test it out. Also increased your access to the repo, you should see the invite.

[2018-07-16 16:51] kwatkins commented on #82
This can be removed, but what it was - and the idea behind it - is to show detailed information we should be showing to users, connection states, errors connecting the board, other things that can help diagnosis shit that can go wrong.

To do this right, we need a way for us/devs to get a dashboard into the usage logs, and a way for users to send error logs that we can tie to bugs and issues. Shor

[2018-07-16 16:54] kwatkins commented on #82
+ to follow up with this, we need an automated way to get releases on Google Play. Passes test, tag with beta, gets on Google Play. We look at the logs, people loving the beta, we push to production release.

[2018-07-16 17:12] audkar commented on #82
What do you think if full `DebugDrawer` would be included in release build and this setting toggle could turn  on `DebugDrawer` in release build? (same behavior as written in setting description)?

About continuous delivery pipeline I will answer in dedicated issue :)

[2018-07-16 19:20] audkar commented on #17
in response to https://github.com/ponewheel/android-ponewheel/issues/82#issuecomment-405312783

For OSS same tracking tools are used.
:bangbang: However need to keep in mind [GDPR](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation). If any information will be logged and sent automatically to analytics/crashlytics services which can tie data with user then we need to show consent to

[2018-07-17 15:43] kwatkins commented on #17
@audkar Yep, I know GDPR all too well :) It will be interesting to see how it plays out here in the states.

That pipeline is spot on. You're more than welcome to drive the release process, others have already done lots of good work and got us integrated w/ Circle Ci - we may need more automated pre-release tasks. I'll look into the Play store upload plugin and what that requires. And the Google P

[2018-07-17 15:50] kwatkins commented on #23
I've been using the master build for a couple of days. It's looking good, a few hiccups, which I'm trying to track down - mainly related to power management. If I turn off the screen, BLE disconnects, and also seems to disconnect even with screen on at certain times. Logs are showing the BLE stack sending the disconnect... Sounds like power management stuff (Doze etc) - will work on trying to repl

[2018-07-17 16:15] audkar commented on #23
Ok. If possible can you fill separate issue tickets for 100% identified problems please? I will try to solve them one by one.
In meantime I am going to investigate how app behaves with doze in different android versions.

[2018-07-18 02:55] kwatkins opened #83 "UI speed and other cards are freezing"
After connecting to OW, the UI looks good, everything updates. Then after a certain amount of time (not sure what the triggers are yet) certain cards stop working, actually all do except the characteristics view, those do display the list of OW stats.

The debug drawer also freezes, so wasn't able to get the logs, I'll look into getting them - in the meantime, there is a screen dump at https://www

[2018-07-18 15:49] ebabel commented on #83
Unfortunately that youtube link doesn't work

[2018-07-18 16:06] audkar commented on #83
Working video [link](https://www.youtube.com/watch?v=dSupXo_52cw)

[2018-07-18 17:36] ebabel commented on #83
Looks to me like this is because we're not handling activity recreation correctly

[2018-07-20 22:51] muellergit commented on #76
I'm still thinking about this. I have started riding with 28 psi instead of
22 psi because I want to see how significant tire pressure is on the range
estimate. After 1 ride at 28 psi the difference is inconclusive. I actually
got less range with higher pressure but went on a new route with huge hills
and a large grass section.

Another tidbit I just figured out is that the power button pulsing th

[2018-07-22 05:21] kwatkins commented on #64
Tested, works fine with master branch. Nicely done @audkar

[2018-07-22 05:21] #64 closed

[2018-07-22 12:55] audkar commented on #83
@kwatkins I would really like to see these logs, because I can't understand what is happening.

If I understand video correctly, then Activity is not being recreated. It is always in foreground.

[2018-07-23 04:40] two-x commented on #76
I don't think that's right, that the blue light is based on voltage.  When the Two-X is at half-charge, and the app says 1%, the blue light also blinks like 1%.

How about a "auto-calibrate fuel gauge" switch in the app, where, if it is turned on, then every time it hits full-charge, it begins an energy counter.  Then it counts Ah in either direction as you use it. If a charger is connected before

[2018-07-24 23:11] two-x commented on #76
The alternative of course is a lookup table to linearize the voltage reading into a linear fuel gauge.  This would be pretty easy except the voltage is also affected by loading of the battery.  And given different batteries will skew the voltage differently, now this is a 3-dimensional lookup table or a lookup table with a parameterized post-processing formula.  All of a sudden it's not as easy.

[2018-07-24 23:39] two-x commented on #56
Does anyone know how the four different temperature readings are combined to produce the displayed temperature number?  (back when the app displayed the batt temp)?  Is it an average or a max or min?

This is another two-x related behavior I wish there was an app setting for ...

In the OW+ the four sensors are evenly spaced around the battery pack.

With the two-x upgrade, the first sensor is on

[2018-07-25 05:00] muellergit commented on #76
Thanks, I don't think you are being preachy.

I was thinking it would need to be a 4 dimensional lookup table already to
include different curves for different temperatures and for different
battery chemistries. But it is also possible that some of these lookup
parameters may not really add that much to the accuracy of the estimate
anyway, because of the unknowns about the conditions you will be r

[2018-07-26 16:36] kwatkins commented on #83
@audkar
Sorry this took a bit longer to get, had to write a tool that would persist root logcats to the sdcard when not attached to a debugger and I'm out on the OW. Still looking for that tool that does more, logging a timeline of events, with bells and whistles of screenshots correlated with binder, network, file, etc activity.

I haven't dug into these logs yet (ANRs, service misses) - you may

[2018-07-26 16:52] audkar commented on #83
Thank you. These looks very promising. Leaking service connection and ANR in the end. I bet it will be very helpful.
It's evening in my place. So will try to solve this tomorrow

[2018-07-27 18:30] audkar commented on #83
Did you or anyone else had similar problems previously with ponewheel app? Not particularly with latest version. But in whole history? Similar symptoms to slow/laggy rendering?

If I understand correctly then data retrieved via Bluetooth is parsed on the same thread as UI is being drawn. Bluetooth events are not being throttled/dropped. So more data is coming from Bt source then more UI thread get

[2018-07-28 00:10] kwatkins commented on #83
This makes sense - and would explain why the stats card is working - that doesn't go through the UI thread - and the others are choking, because, eh, they do. I don't recall straight up laggy issues in previous releases, but eh, there is the occasional ANR and this is something that we would have to deal with eventually.

Suggested good patterns for what we should move to, handlers, etc?

[2018-07-28 04:38] muellergit commented on #76
I thought of another related feature while riding today that we should look
into: monitoring voltage for motor load induced sag and sending an audio
notification in the app when it exceeds some threshold before cutting out.
This would help new riders in identifying pushback if there is a
correlation between pushback and a certain amount of voltage sag.

On Jul 25, 2018 12:00 AM, "Mike Mueller" <mu

[2018-07-30 16:40] audkar commented on #83
There are almost infinitive ways how to do this on separate threads. RxJava, Kotlin coroutines, Handlers. That is not the hardest part :)

I see some options we could/should do:
- Move data parsing on separate threads.
- Revisit code and eliminate unnecessary object initialization. From profiling I see that there are thousand of objects created & gc'ed per every update from BT adapter. May be Data

[2018-08-14 21:45] iSalah commented on #44
Hi Kevin,

Thanks for sharing your project.
I'm about to follow your steps and have a few questions if you don't mind:

Does your setup include any battery over discharge protection ?
Can you get a full OW+ charge with your battery ? If so, how long does it take to fully charge your OW+ ?

Thank you for your help :)

[2018-08-17 23:55] kwatkins commented on #44
Hi iSalah -

Good question, overcharge protection is baked into the board BMS (battery
management system) - it will prevent any overcharging with the setup, just
like if you charged off AC and adapter.

I was able to get a full charge, took about 20 mins? or around there.
Definite must for OW+. Now I'm riding a OW+ XR and wow, thing goes forever,
I'm going up to 15 miles on a single charge. Also t

[2018-08-19 19:27] kwatkins commented on #83
@audkar I started to work on this, but quickly found I wasn't gaining much ground. I asynctasked some of the UI thread, and still, there were issues.

In order to continue developing for other features and issues we might have to just bite the bullet and unmerge the changes from master, unless you have better ideas. I think what you did was definitely a step in the right direction and we can conti

[2018-08-20 17:52] #83 closed

[2018-09-16 08:34] mansya opened #85 "New Logo/Icon proposal"
Good day sir. I am a graphic designer and i am interested in designing a logo for your good project. I will be doing it as a gift for free. I just need your permission first before I begin my design. Hoping for your positive feedback. Thanks

[2018-11-17 09:40] jj05y opened #86 "No stats after firmware update"
Hey,
I just cloned the repo and while the app connects fine, there's no stats available. It may be the firmware update. Can you repro?

[2018-11-17 14:30] COM8 commented on #86
![grafik](https://user-images.githubusercontent.com/11741404/48662124-ac759a00-ea7d-11e8-91aa-7aa418ce9fa2.png)

[2018-11-17 21:35] beeradmoore commented on #86
Just noticed the same thing with Onewheel Community Edition app. I only get firmware and hardware revision.

Almost all properties in LightBlue are also unnamed now.

Going to investigate today with a phantom board and will let you know if I find anything useful.

[2018-11-18 00:19] kwatkins commented on #86
Hmm well that's a bit annoying. If not solved I'll tackle in a few days, my XR is out as I change to a new treaded tire (currently stuck at the dismount step, it isn't easy as YouTube peeps show). I doubt the GUIDS changed but hard to say ... Likely will just reverse the official app.

[2018-11-18 01:24] beeradmoore commented on #86
GUIDs are the same. Only firmware and hardware revisions have values via LightBlue.

The latest official app doesn’t detect my phantom board for doing the reverse engineering of their BLE anymore. Previous app versions still work fine.

Another thing is the URL path for the new firmware has changed. And a few other things about the apps are different. I wonder if all of this is FM trying to preven

[2018-11-18 13:30] jj05y commented on #86
Using gatttool its reading 0 for most handles (those that I randomly chose!)

[2018-11-18 19:04] beeradmoore commented on #86
Inspecting a bluetooth log, I am 99% confident the uuids have not changed and don’t need to be renamed.

The board is doing something else.

Should also be noted the old OW app can’t connect to the new OW board, much like the same issue we are in.

[2018-11-18 19:39] COM8 commented on #86
Yes I can confirm this. The characteristics are still the same.
Never the less they added 4:
`e659f31d-ea98-11e3-ac10-0800200c9a66` labeled `Data29`
`e659f31e-ea98-11e3-ac10-0800200c9a66` labeled `Data30`
`e659f31f-ea98-11e3-ac10-0800200c9a66` labeled `Data31`
`e659f320-ea98-11e3-ac10-0800200c9a66` labeled `Data32`
Guess they are for the custom riding mode.

[2018-11-18 19:41] COM8 commented on #86
Do you mind uploading your HCI log?
Don't have an Adroid device on hand, only Android x86 😉 and it's not letting me log traffic.

[2018-11-18 19:53] beeradmoore commented on #86
e659f31d through to e659f320 are not new. LightBlue used to have named properties and it would call them unknown 1 to unknown 4. I don't believe I've ever seen them change value, but they could very we be used now though.

Log is attached, it can be opened by Wireshark. It also shows my device picking up a bunch of other devices so need to double check for service UUID and then compare it. From me

[2018-11-18 20:00] COM8 commented on #86
Ok thanks, maybe I can spot something new.

[2018-11-18 21:06] COM8 commented on #86
So that's what I've discovered:
The app based on your logs provided sends the following data to the board:

1. Write `00` to e659f319-ea98-11e3-ac10-0800200c9a66 // Set live time odometer to 0
3. Write `0fc2` to e659f311-ea98-11e3-ac10-0800200c9a66 // Set firmware revision to 4034 (BASE10)
4. Write `43:52:58:d8:82:11:d1:26:96:5f:9f:aa:72:fc:de:92:f3:25:3d:20` to e659f3ff-ea98-11e3-ac10-0800200c9a6

[2018-11-18 21:08] COM8 commented on #86
Could you please provide a few more log files with connection establishments so I can validate my theory?

[2018-11-18 21:14] beeradmoore commented on #86
The serial write one is interesting. I've only seen the board do serial write for firmware deploying.
I won't be able to get more logs until after work.

I'd be interested to know:
- Is that thing sent to serial phone unique
- Is that thing sent to serial device unique  (data generated on the board device ID or something)
- Is that thing sent to serial static everywhere
- if the iOS bluetooth logs

[2018-11-19 10:33] beeradmoore commented on #86
Here is another log. Here is what I have found so far. This could just be an order of operations in a multi threaded app, or it could be how it triggers the board to send some sort of data as a key. But on frame 342 it enabled read notifications on E659F3EE which is interesting because that IS a new characteristic which isn't exposed when we can the boards characteristics.

Once notifications are

[2018-11-19 19:01] COM8 commented on #86
I will try to reverse engineer the .apk. Maybe I can spot something there.

[2018-11-19 19:03] beeradmoore commented on #86
I had tried that a few days ago, but It appears to be obfuscated very differently to how it used to be. Either that or my new dev setup isn't working right.

[2018-11-19 19:04] jj05y commented on #86
Yeah, it's been minified :( Makes it very hard to read.

[2018-11-19 19:05] beeradmoore commented on #86
All this makes me think they really don't want 3rd party apps. Surely this wasn't all on accident :P

[2018-11-19 19:08] COM8 commented on #86
A little bit more "security" is not wrong. They had some really big flaws, because everybody was able to connect to your oneweel and for example change light mode or change riding mode during the ride.
Still not great. Would have hoped for some kind of pairing mechanism instead...

[2018-11-19 19:09] COM8 commented on #86
*had and still have

[2018-11-19 19:14] beeradmoore commented on #86
You're right, extra security is never a bad thing.

If only there was a bug bounty program or similar to receive free XRs.

[2018-11-19 20:19] kwatkins commented on #86
Awesome everyone here is tackling this... I just did an initial look at the APK (using jadx for decompilation) and looks like they are doing some encoding/decoding with the chars on the top layer. I take it the messages are still coming through, just garbage until we figure out the seed and key values they use.

`
        public void onCharacteristicChanged(BluetoothGatt bluetoothGatt, BluetoothGa

[2018-11-19 20:29] COM8 commented on #86
Going to continue tomorrow, here's what I've found out so far:
Used dex-tools and jd-gui.
If you take a look into `OnewheelService.java` Line 1745 (if they are the same :D)
[code]
`this.D` is the serial write characteristic instance and we write an array of bytes to it.
Thats the only time I found, that `D` really gets used for something.
The only time this method gets called (no external call fou

[2018-11-19 20:36] jj05y commented on #86
The reading/writing of firmware version is interesting. I thought It may be so each device knows the protocol to communicte with (because it changed with gemini). I tried this:
`Characteristic value/descriptor: 10 26
[0C:AE:7D:ED:07:xx][LE]> char-write-req 0059 1026
Characteristic value was written successfully
[0C:AE:7D:ED:07:xx][LE]>
`
but still get 0 values for 45, 49 (roll, yaw)
`[0C:AE:7D:ED:

[2018-11-19 21:41] beeradmoore commented on #86
E659F300-EA98-11E3-AC10-0800200C9A66 is the service UUID.
I have E659F3FF-EA98-11E3-AC10-0800200C9A66 in OWCE listed as SerialWrite which is a named value via LightBlue, which is named by someone in the community I think... Maybe its named from the board itself.

I just got sent someone elses log and I got the same thing, read 20 bytes, did something and then sent those 20 bytes off.

Could you fi

[2018-11-19 23:00] kwatkins commented on #86
fyi, just trying to work out the flow of what the official app is doing, may/may not help the research going on now. let me know if there are places to zero on and i can continue the dive.
[code]

[2018-11-19 23:16] kwatkins commented on #86
@beeradmoore it's native (c++) code and will require a bit more work, IDA disassembling... can go that route if we need to, hoping we don't since it's a bit more involved...
Hooked the in/outs of getChallengeResponsePassword above, your right about the 20 bytes, it's just now to figure out the where/what...

[2018-11-19 23:18] beeradmoore commented on #86
@kwatkins is that via android device monitor?

So this is how I think it works, your log here, the two posted above and a 3rd I got from someone else all take the same flow. I could be completely wrong.

Fetch board firmware revision number to know if to use the last flow, or the new one below.

If its gemini enable notifications of characteristic value change
setCharacteristicNotification UUID=e6

[2018-11-19 23:34] muellergit commented on #86
There is a report from a Gemini rider on Facebook OWOG that Ponewheel shows
cell values with Gemini if the new FM app is connected first. Then he
disconnected the FM app, turned Bluetooth off and back on, then connected
Ponewheel and it showed cell voltages (and I assume the other parameters).
But after a while Ponewheel went blank again.

So if this behavior is confirmed, perhaps FM added a bit o

[2018-11-19 23:36] beeradmoore commented on #86
HA! Can confirm. Just opened the OW app, connected, force closed, opened OWCE and it read all my data but then died about 15 seconds later. Maybe this handshake needs to happen regularly. I never bothered examining the bluetooth logs past the first connection point.

[2018-11-19 23:43] muellergit commented on #86
Good news! It makes me think that FM may be trying to make the connection a
bit more secure with a challenge/response "authentication" handshake
instead of doing this to stop third-party apps entirely. And also confirms
that cell data is still being sent when successfully "authenticated."

On Mon, Nov 19, 2018, 5:36 PM beeradmoore <notifications@github.com wrote:

[2018-11-19 23:43] kwatkins commented on #86
Yeah likely an handshake, will watch it how often... and @beeradmoore the com.rideonewheel.onewheel.MainActivity.getChallengeResponsePassword passes in the same string for and looks like all the native methods (below) take in the same string, "EjPXmbUBIJfrTYgBCw4AKPZMuzA=" in my instance.  If that's the same string from "Once we have that data I think it goes into getChallengeResponsePassword, whi

[2018-11-20 00:02] beeradmoore commented on #86
@muellergit but if you have a board that isn't connected to anything, I can connect to it from my official OW app just like I could if you had the older firmware. So the security doesn't stop anyone doing what they could do before. Just makes 3rd party apps not work. I see that as something they wanted to stop because people (me lol) had been throwing around reverse engineering the firmware to see

[2018-11-20 00:09] kwatkins commented on #86
This actually motivates more tinkering/uncovering the hood, which will lead to more digging around the app past just getting it to work for reading stats. They should of made an SDK available for 3rd parties, did they just expect us to go, eh, FM, you win, all the users and peeps using these apps - your out of luck... heh.

So the string passed in to native functions (getChallengeResponsePassword)

[2018-11-20 00:14] muellergit commented on #86
Yes, FM has defended their firmware with cease and desist orders. That was
me (name in Hindi) on FB that mentioned that to you when you brought up
working on allowing your OWCE app to revert to older firmware versions.

I don't know much more about the cease & desist, but FM does apparently
secretly monitor some FB groups and since this GitHub is open they could be
listening here too. That's proba

[2018-11-20 00:20] beeradmoore commented on #86
Ah gotya, had always been curious if that was a real name or just symbols someone who wanted to remain nameless found on the internet :). Im happy to stop working on firmware related things, it's more of a wanting to know how things tick than it is to make the board hit 40mph. I'd be upset (and would judge the legality) if we got cease and desist for 3rd party apps.

I have no doubt they have peop

[2018-11-20 01:02] kwatkins commented on #86
if anything it would be legal behind any monitoring, doubt FM peeps are directly monitoring, or even want to know - it's one of those as soon as you know, your involved, and lawyers can pull you in... see: patents, as soon as you read or aware of it - even - and more so - if you are close to it, it's in your org, you are now in the lawyers depose pool.

[2018-11-20 09:51] beeradmoore commented on #86
@kwatkins is your decompiled code above from the getChallengeResponsePassword method or is that before it?

I also tried to google getChallengeResponsePassword in case they did some copy/paste code but it doesn’t seem like it. That would have been handy 😂 maybe I need to google something similar to find it. Wouldn’t be the first developer to copy/paste from StackOverflow.

[2018-11-20 10:02] beeradmoore commented on #86
Also, is anyone else here devs for other apps? I can see kwatkins contributes a lot to ponewheel. I’m here from Onewheel Community Edition.

Float deck or onewheelwear here? I’m going to email them tomorrow to let them know things is busted and to see if they had any thoughts as well.

[2018-11-20 10:05] COM8 commented on #86
I'm the dev of [UWP-Onewheel](https://github.com/COM8/UWP-Onewheel).

[2018-11-20 16:31] kwatkins commented on #86
Good to meet you all... Ya I did pOnewheel originally then many other devs, better than I picked it up - and the wife made the UI tolerable, I suck at those.

I'm trying to carve time (and the 🦃) to get something rolling... Anyone here know python or maybe even gatttool to start prototyping the flow steps we are slogging through? I can try updating the pOnewheel code, just will take longer to test

[2018-11-20 16:39] jj05y commented on #86
Hey!
My first attempt at writing a onewheel app was when I looked to yours for a starting point just after the gemini update. Needless to say I didn't get far!!

I'm using gatttool now for attempted connections, learning as I go. It's real fast for testing the connection. If any one wants me to try anything let me know.

[2018-11-20 16:59] kwatkins commented on #86
@bearadmoore  that was Java decompiled, the in to getchallenge is a 20 byte hash of app metadata returning the same 20 bytes, this is good, means we are working with simple one way hashes.

[2018-11-20 17:57] jj05y commented on #86
Info on the 20byte hash. below is a selection of packets captured from the hci log. I searched for all that contained handle: 0016.

Check out (as was thought) that it gets sent regularly, ~every 30seconds. 4 packets are evident here, can get more if needed.

[handle16.txt](https://github.com/ponewheel/android-ponewheel/files/2600956/handle16.txt)

[2018-11-20 18:40] COM8 commented on #86
I translated the code from @kwatkins into a little bit more java.

[code]

Quiet strait forward. That's what we need to know:
*  What does `someContext.getPackageName()` return?
* We somehow need access to `pInfo.signatures` which could be the bigger problem?
* What magic does `kotlin.p059d.p061b.C1562i.m4602b(someContext, "context")` do?
* What magic does `kotlin.p059d.p061b.C1562i.m4598a(s, "Bas

[2018-11-20 20:44] beeradmoore commented on #86
My little intro is I'm the dev behind Onewheel Community Edition (OWCE), not yet released but just on GitHub for testing. It bothered me that people would suggest 3rd party apps like ponewheel and then other users would be like "I can't find it in the AppStore!?". So I made a cross platform Xamarin app.

@kwatkins I was just going to mock up the handshake in an Android app (C#) to see if I could g

[2018-11-21 00:06] kwatkins commented on #86
Good questions, I think? I'm closer. I don't know. Still not getting the values coming in.
I think it comes down to writeCharacteristic to the serial port,  "e659f3ff-ea98-11e3-ac10-0800200c9a66" (OnewheelCharacteristicUartSerialWrite), stepped through below.

@COM8 those values start with what your looking it, a hash generated from the app metadata attributes... basically a verification that the

[2018-11-21 10:48] beeradmoore commented on #86
I've setup BLE logging on iOS to see what it does and I've confirmed a few things.
When the board boots and it's sitting there it won't send through any data on the serial read (E659F3FE) characteristic. As soon as you write the firmware version to it you'll suddenly get 20 bytes (and no more) of data over 9 or so notification updates. Because of this I was able to write to it, get the buffer, wri

[2018-11-21 12:32] beeradmoore commented on #86
The only MD5 code I could find is in com.rideonewheel.onewheel.shared.a

[code]

Which I believe can be written better as
[code]

Value of arrayOfByte is confusing, unsure if it's a decompile issue or not.  The `while (paramArrayOfByte.read(arrayOfByte) != -1) {}` also seems odd, doing some CPU work to generate some entropy or missing something from the decompile?

That `a` method is called here

[2018-11-21 15:51] kariudo commented on #86
I have been pulling my hair out for days trying to read GATT from the damn onewheel, and was thrown off into thinking it wasn't the firmware update but was on my end when it was able to read once. Then it occurred to me I should check ponewheels issues to see if this was happening to anyone else... so thank you for restoring my sanity. It clearly worked once for me because I had just disconnected

[2018-11-21 19:18] 0xH3xWheel commented on #86
Looks like many of you have already pull the app apart.  Looking at the firmware side of things, I can verify a few of your findings.  The new firmware adds code to computer an md5 hash.  Also I can verify that the binary string "D9255F0F23354E19BA739CCDC4" is hard-coded in the firmware.  I'm not sure where or how those the last three bytes ("A91765") are calculated yet.

[2018-11-21 19:19] 0xH3xWheel commented on #86
ROM:0800A334                 MOVS            R1, #0xD9 ; Builds binary string "D9255F0F23354E19BA739CCDC4"
ROM:0800A336                 STRB.W          R1, [SP,#0x30+var_20]
ROM:0800A33A                 MOVS            R0, #0xA9
ROM:0800A33C                 MOVS            R1, #0x25
ROM:0800A33E                 STRB.W          R1, [SP,#0x30+var_1F]
ROM:0800A342                 STRB.W          R0,

[2018-11-21 21:10] beeradmoore commented on #86
It is done <3

I thought I knew the flow but it just wouldn't work. Turns out I was md5ing the wrong array -_-

Here is my Xamarin.Android code. It won't copy/paste to java but it'll be 98% of the way to working. I sent this to the board and confirm it unlocks the rest of the details.

[code]

The helper method I found on StackOverflow. StringToByteArrayFastest is just a method which converts thes

[2018-11-22 04:14] kariudo commented on #86
@beeradmoore well done! My requests are now working in my python app thanks to your bit above.

[2018-11-22 08:02] jj05y commented on #86
This is amazing! Will update here with anything created from,

Thank you!

[2018-11-22 16:57] kariudo commented on #86
As my thanks, and to help anyone else trying to sort this out I made a quick implementation in python:
https://github.com/kariudo/onewheel-bluetooth

@jj05y it is definitely security through obscurity, but it certainly seems like it was a bad implementation. They should just provide the user a means of securing the board and used a more typical authentication scheme. I feel like it was a half hear

[2018-11-22 18:51] jj05y commented on #86
I guess given there's the potential for firmware updates over the air you could actually build a one wheel bricking app, that when connected will do exactly that :/

Some personal security is defo needed.

[2018-11-22 20:19] beeradmoore commented on #86
I wonder if devices that can pair vs devices that are just a BLE interface need to go through different security, regulations and approval for various countries. All that said, the new features in the gemini are amazing and FM has done a good job with that update!

[2018-11-25 21:03] beeradmoore commented on #86
I did my C# implementation over the weekend. I'm glad that reading ' ' for the MD5 buffer was just to get it to process. I was worried what the pure C# version would do as my above code was within Xamarin.Android so it was still using some of the Java classes.

[2018-11-27 20:34] kwatkins commented on #86
@jj05y ahh good catch, no reason to modify firmware value before sending - thanksgiving turkey sloppiness on my part. Just catching up and see we need to add a timertask or something of that sort, if your working on it great! Feel free to branch/checkin and we can git pull'it into master.

[2018-12-06 19:39] mherfurt commented on #86
Hi there,
it is really great to watch the enthusiasm in this thread! I am the developer of OneWheelWear and of course I also ran into the issues discussed here. Recently, I found some time to look into the "secret handshake" thing with the new firmware. Using @kariudo 's python implementation to see an actual implementation, I ran into a situation, where I only would get sensible data, when I conn

[2018-12-06 20:13] COM8 commented on #86
After the initial unlock of the board send by [onewheel-bluetooth](https://github.com/kariudo/onewheel-bluetooth) you have about 24 seconds to request values from the board before it locks up again.
To get around this you have to [send](https://github.com/ponewheel/android-ponewheel/issues/86#issuecomment-441448257) the Gemini firmware to the board before the 24 seconds are over to extend the wind

[2018-12-06 20:29] mherfurt commented on #86
Thanks for clarifying this!
The values requested by the python script itself are bogus. I assume these are requested within the correct time-frame. I assume that the unlocking mechanism - as implemented by  onewheel-bluetooth - does not work in my case ... for some reason.  I am curious if this is only the case with my setup...

[2018-12-07 13:33] COM8 commented on #86
@mherfurt The handshake fails for me under the following circumstances:
a) Some amount off wrong/unfinished handshakes have been send to the bord -> board locks up and won't react on anything any more via bluetooth

b) Sending a handshake request while an other app (e.g. official app) has been closed but the board is still connected via Bluetooth to the other phone

To solve all of these issues I

[2018-12-07 13:33] COM8 commented on #86
@mherfurt The handshake fails for me under the following circumstances:
a) Some amount off wrong/unfinished handshakes have been send to the bord -> board locks up and won't react on anything any more via bluetooth

b) Sending a handshake request while an other app (e.g. official app) has been closed but the board is still connected via Bluetooth to the other phone

To solve all of these issues I

[2018-12-18 01:02] kwatkins commented on #86
@jj05y can you pick up and test this, wanted to get this in from https://github.com/ponewheel/android-ponewheel/tree/issue_86 but out for a few weeks (had a little v1 future OW'er baby, taking up all my time!)

if you can complete it + test i'll merge + build + drop it on google play for all to use, anticipate the "dig the app, but can you fix it for gemini" comments and feedback already

@COM8 @e

[2018-12-18 13:31] jj05y commented on #86
Sure! Can have a look over the holidays :)

[2018-12-29 00:06] Nanoux commented on #86
For anyone trying to access the new custom shaping, it seems they crammed it all into what was Unknown Characteristic 2. It updates like 5-6 times a second, and cycles through 3 values.  You parse it as an unsigned integer with offset 0 and a signed integer with offset 1. the first unsigned integer cycles through 0, 1, and 2, and this indicates which custom shaping "attribute" it represents. 0 is

[2019-01-05 13:44] hammer-is commented on #86
Just joined the family as a bought a used OW+. I was curious about individual cell (health) voltage and as it was updated to Gemini I build the app from https://github.com/ponewheel/android-ponewheel/tree/issue_86 and it seems to work just fine and keeps the connection for 24+ seconds. I've only tested it inside with OW+ not activated/floating. @kwatkins @jj05y are there any known issues left you

[2019-01-07 20:43] coolkingcole commented on #86
@muellergit Did you extract the firmware? Do you have the file or can you tell me how you did it?

[2019-01-07 20:56] muellergit commented on #86
No, sorry I haven't. It has been claimed to be done prior to Andromeda but
FM got wind and sent a cease and desist order.

On Mon, Jan 7, 2019, 2:43 PM coolkingcole <notifications@github.com wrote:

[2019-01-07 21:10] coolkingcole commented on #86
@Nanoux I have been trying to change the custom shaping, but I have been having problems. First, I still have to do the jerry rigged way of connecting with my phone first to unlock the board. I've tried messing with timeouts and such to no avail. I can for example write 003C to "OnewheelCharacteristicUNKNOWN2"(0x009d) and can read it back as being written, but stance doesn't seem to change. I have

[2019-01-08 05:51] coolkingcole commented on #86
I finally was able to get to somewhere with less rf interference, and I reinstalled pygatt. The unlocking works, I can write the Light mode, but still I can't get the front or back light characteristic to stick.
[code]

[2019-01-08 06:08] Nanoux commented on #86
@coolkingcole Its not impossible that they removed the individual front and back light characteristics with the Gemini firmware, I've only tried writing the lighting mode. What happens if you try to read them?

[2019-01-08 06:43] coolkingcole commented on #86
@Nanoux I can read them, they stay at '\x00\x00'. The tool (https://github.com/evilsocket/bleah) reports the light characteristics as writable, but I'm not positive that the tool is 100% accurate.

[2019-01-08 07:03] Nanoux commented on #86
@coolkingcole The front and back characteristics may still exist but just not do anything. They did change a few things, like the characterisitc that was previously for status errors now does something completely different, I think its for sending diagnostics, but I'm not sure. Since they removed the names for all the characteristics, its really hard to tell, but if everything except those two are

[2019-01-08 10:42] COM8 commented on #86
I'm still able to write to all light related characteristics:

* `e659f30c` => light mode
* `e659f30e` => lighting back
* `e659f30d` => lighting front

They also respond and update to the new values.
Reading the light mode works for me but front and back lighting I still have to test.

`device.char_write(UUIDs.LightsFront,bytearray.fromhex("00 75"),True) #Front red`
The error with the line above i

[2019-01-15 00:59] kwatkins commented on #86
@hammer-is - I finally got around to merging that branch with gemini support, thanks for validating it works. Any more tests/issues let me know. Also tagged/apk/etc at https://github.com/ponewheel/android-ponewheel/releases/tag/gemini_support

[2019-01-15 01:07] kwatkins opened #88 "Add custom shaping to ponewheel"
It looks to be fairly straight forward thanks to @Nanoux https://github.com/ponewheel/android-ponewheel/issues/86#issuecomment-450445851

Initial implementation can be simple, something like another card with a slider or dropdown to set the values 3 different values. Always the bonus points for a better way to show it in the UI.

[2019-02-01 21:37] Nanoux commented on #86
Hey, I am/was the developer of the Onewave app on android, which used to live on the Play Store.

When Gemini dropped, a few people here speculated the new connection system was designed to lockout 3rd party apps. As far as I can tell, my app was the only 3rd party app on android that worked with Gemini. Today I got a DMCA takedown notice for it. It only had about 270 users between both versions,

[2019-02-01 23:03] mherfurt commented on #86
I agree. This makes me sad!

Any manufacturer should be happy (and feel flattered) when a community of people is building other products around their product.

It would indeed be interesting what FM objected with your product, when they sent you this DMCA notice!

[2019-02-01 23:19] Nanoux commented on #86
The stated reason was this, verbatim:

"To be functional, the allegedly infringing software app is circumventing
the Future Motion technological measures to gain access to the Future
Motion copyrighted software/firmware without authorization, and to
integrate the allegedly infringing software with the Future Motion works in
a manner that could create rider safety hazards."

Everything in the app w

[2019-02-02 00:35] beeradmoore commented on #86
Was doing some googling and found [this](https://softwareengineering.stackexchange.com/questions/142238/do-i-have-to-remove-my-app-from-app-store-copyright-infringement) post on the topic. Mainly

Based on your third edit the accepted answer seems very relevant.

Although if you contact FM about it they may look at it as you're (/we're all) against the ropes and its easy for them to say "yeah take

[2019-02-02 01:41] muellergit commented on #86
I'm glad I already downloaded Onewave.

So you didn't need to add a handshake protocol to stay connected with
Gemini? That would make their DMCA takedown request even more of a stretch.

On Fri, Feb 1, 2019, 4:35 PM beeradmoore <notifications@github.com wrote:

[2019-02-02 02:33] muellergit commented on #86
Ok, well I think FM added that handshake just so that third party apps
would also have to use the handshake key to connect. Before the connection
was open. So now FM has a little legal cover to attempt to prevent that key
use to connect.

However it probably would not be upheld in court since there was a recent
judgement in California that upholds the owner's right to repair, and
access firmware t

[2019-02-02 02:41] beeradmoore commented on #86
@Nanoux I don't know of any other way to contact them other than customer support sorry. And yeah, this whole things hinges on how the customer support manager decides to handle it, and if they want to even inform someone from higher up on the chain.
From what I can see them talking about in the group is about being sure riders are legal to ride in their state/country and to help get relevant mate

[2019-02-02 02:50] beeradmoore commented on #86
@muellergit that does make sense (although I don't want to wear a tinfoil hat and speculate) considering this thread is evidence that people did infect break open their own android app to see how it ticks. Does give them a little legal cover AFAIK.

I messaged @mherfurt on Facebook but I'll ping him here too. From what I understand OneWheelWear got the Gemini update patched in and released? Can yo

[2019-02-02 03:37] muellergit commented on #86
I am guilty of letting the Onewheel Owners Group know about using Onewave
to view cell voltages.

Ponewheel I thought was about to release a Gemini compatible version. Is
that held up?

On Fri, Feb 1, 2019, 6:50 PM beeradmoore <notifications@github.com wrote:

[2019-02-02 07:07] hammer-is commented on #86
@muellergit @Nanoux The pOnewheel release with Gemini support added to the Play store on the 14th of January 2019.

[2019-02-02 08:32] mherfurt commented on #86
@beerandmore I did not receive a message on facebook - which BTW I do not use a lot, anymore.
I did not receive a DMCA notice so far. This could relate to the fact that I am based in Europe.
A quick research brought me to this discussion: https://www.lowendtalk.com/discussion/18615/dmca-does-it-apply-outside-of-the-usa

The "works in a manner that could create rider safety hazards" part in the not

[2019-02-02 09:07] StayInMaterial commented on #86
I feel like I'm going crazy right now, but the play store page for ponewheel says it was last updated April 8th 2018 and after downloading it just now it wouldn't connect. Is there a beta channel or a new store page I'm missing?

Thanks for the update @mherfurt

[2019-02-02 09:11] Nanoux commented on #86
I feel like I'm going crazy right now, but the play store page for ponewheel says it was last updated April 8th 2018 and after downloading it just now it wouldn't connect. Is there a beta channel or a new store page I'm missing?

Thanks for the update @mherfurt

Sorry for any duplicate alerts, accidently posted from my school GitHub account.

[2019-02-02 10:13] hammer-is commented on #86
@Nanoux See screenshot from my OnePlus about the 14th January release:
![image](https://user-images.githubusercontent.com/34623636/52162841-d8e29f00-26d9-11e9-8d4a-6f57bc289d7e.png)
As far as I know both the April 8th release and the current release targets API21 (Android 5.0+) so I don't undestand why you can't see latest release. Btw. I've not joined the "beta" option.

[2019-02-02 10:15] Nanoux commented on #86
Huh, maybe it's a staged release or something, we'll have to ask @kwatkins I guess.

[2019-02-02 10:19] hammer-is commented on #86
@Nanoux app is on Github if you don't want to build yourself (it is in master branch). https://github.com/ponewheel/android-ponewheel/releases/tag/gemini_support

[2019-02-02 10:43] hammer-is commented on #86
@Nanoux my phone is on Android 8.0 but I think it's only minsdkversion that limits what phones can install app/update. If it was targetsdkversion that was causing the limit then no phones with <Android 8.0 would have been able to update any app since last fall and that does not make sense.
Targetsdkversion is at 26 https://github.com/ponewheel/android-ponewheel/commit/daddd3bde15a58d4644e8d7e6b778

[2019-02-02 10:45] Nanoux commented on #86
I misunderstood your original comment then, I have no idea.

[2019-02-02 16:38] muellergit commented on #86
I only show the April 2018 release in Play store also. I am running Android
7.1.1 and had been waiting for the update since the New Year.

On Sat, Feb 2, 2019, 6:28 AM Fabian Sauter <notifications@github.com wrote:

[2019-02-02 17:03] Nanoux commented on #86
@COM8 I was planning on doing that, but I can't find a good way outside of the customer support system. Any ideas?

[2019-02-02 17:20] COM8 commented on #86
One way would be creating a thread in the forum.

[2019-02-02 17:32] COM8 commented on #86
If they delete our post we know they wouldn't answer us via mail/support.
I think if enough of us would comment the initial post with something like:

I'm the dev of XYZ and I would like to know what's up (or so).

The thread has to get some attention form normal people and staff

[2019-02-02 17:35] Nanoux commented on #86
Forum Moderators and policy makers at FM are probably not the same people, they may just not want drama in their forums.

Does anyone know if the OWBuddy guys still work at FM and how to contact them? They seem like the perfect people to ask

[2019-02-02 21:38] hammer-is commented on #86
Next chapter as I try to solve the Play store version mystery using an old Galaxy S4 on Android 5.0.1.

Factory reset + sign in with my own Google account = access to newest 3.4/Gemini version according to the Play store page. I verified that it could connect to my OW+ successfully.
Factory reset and + sign in with another Google account = access to the old 3.3 version! I verified that it did not

[2019-02-02 23:38] Nanoux commented on #86
If I had to guess, he used the staged rollout feature, whether he intended to or not, which just rolls out the update to a select % of users. It's used mostly by big apps who only want to have 5% of their users experience horrible undiscovered bugs instead of all 100% :p

[2019-02-03 08:02] kwatkins commented on #86
It's a partial rollout (33%) to get logs, make sure it's stable. And it
doesn't appear to be, lots of ANR's. More people testing here it the
better, especially developers, when I get a chance dive deeper into what is
causing the crashes and report back here.

On Sat, Feb 2, 2019 at 9:03 AM Nanoux <notifications@github.com> wrote:

[2019-02-03 08:19] kwatkins commented on #86
@nanoux exactly.

Also, from reading the unfortunate DMCA news from this thread -  the
genesis of this app was to collect data, a black box recorder of sorts to
help diagnose wtf was happening with all the  nose dives... FM wasn't
helping the us figure it out with their heads in the sand. And the
information we get from the app also shows placement of foot sensors, when
they are engaged, again, th

[2019-02-03 08:44] Nanoux commented on #86
Looking through it really quick, I might know why its happening. In your OnServicesDiscovered function, you setNotify & read every bluetooth characteristic you want, and then do the gemini thing as you get the value for the firmware version. In my experience, the values you setNotify initially will work, but anytime you try to setNotify or un-setNotify (not great with the lingo, sorry), or try to

[2019-02-04 10:07] Nanoux commented on #86
I was thinking, does Bluetooth the company have any rules about restricting access to a Bluetooth device in order to get licensed? I can't find anything but that seems like it should be a thing.

[2019-02-04 12:56] mherfurt commented on #86
@Nanoux About 10 years ago, I attended several so-called UPF events (UnPlugFest) organized by the Bluetooth SIG. The Bluetooth SIG itself is an association of different Bluetooth device/chip manufacturers that drive the development of new features of this manufacturer-independent forward.

Back then, it was obligatory for every manufacturer of Bluetooth enabled devices to have their product/platfo

[2019-02-04 13:24] Nanoux commented on #86
Alright, thanks, that's quite helpful. I'll probably write a message to FM customer support sometime in the next few days and hope for the best, really not much else I can do it seems.

[2019-02-08 10:01] Nanoux commented on #86
Update:

Customer Support ticket has been sent, I couldn't find any other way of contacting FM

I open sourced the free version of Onewave and put a built, unsigned APK in a release for anyone desperate. This class may be of interest to you guys, Its diverged quite a bit from when I got it from the pOnewheel source but it should be quite useful nonetheless. https://github.com/Nanoux/Onewave/blob/m

[2019-02-10 14:12] mansya commented on #85
hi sir. how about this offer? are you interested ?

[2019-02-10 21:02] COM8 commented on #86
Has anybody tested the unlock mechanism with a OW+XR?
Since the XR might have a slightly different FW revision.
https://github.com/COM8/UWP-Onewheel/issues/5

[2019-02-11 06:44] COM8 commented on #86
Ok, yes confirmed: To unlock an OW+XR we need to listen for and write back the 4134 (0x1026) FW revision instead of the  4034 (0x0fc2) FW revision of an OW+.

Thanks to @TomasHubelbauer.

[2019-02-12 21:54] TomasHubelbauer commented on #86
Another +XR FW revision found: 5686 (0x1636).

[2019-02-12 22:00] beeradmoore commented on #86
5686... That is a huge firmware jump, and odd that it isn't 5086 or something. I assume it's via analytics? Any idea of rough location, like California maybe?

[2019-02-12 22:05] TomasHubelbauer commented on #86
@beeradmoore My bad, that was a messup on my part! I was looking at a wrong buffer 🙄

[2019-02-12 22:06] beeradmoore commented on #86
Damn, got me excited for a new OW being discovered in the wild :p (I guess they wouldn't use 3rd party apps to test the new OWs for this very reason).

@jj05y this can probably all be closed now.

[2019-03-14 08:44] COM8 commented on #86
@Nanoux Any news about your ticket?

[2019-03-14 08:48] COM8 commented on #86
Anyone here planing to get the new [Pint](https://onewheel.com/products/pint) board?
Since it will probably have it's own FW revision.

[2019-03-14 08:54] beeradmoore commented on #86
Yep, although others may get it before me as I wait for it to ship (and clear customs) to Australia.

[2019-03-14 11:27] Nanoux commented on #86
They closed my ticket without notifying me or even speaking to me ~ 2 weeks after I filed it. Honestly I dunno if I want it to exist in spite of FM or not.

I want a pint so bad, it looks like it solves all the problems I have with my +, just can't afford it rn without selling my current board, which I need for school.

Is ponewheel ok @kwatkins ? i havent gotten the gemini update on my phone and

[2019-03-15 07:21] COM8 commented on #86
To me it looks like custom shaping is working on my end.
I even remembers the set values (most of the time).
The only thing I do not notice while driving is changing stance.

![grafik](https://user-images.githubusercontent.com/11741404/54414798-9fe71280-46fa-11e9-8ca1-e543ebaf5589.png)

[2019-03-21 23:54] SampsonCrowley commented on #85
@mansya if you're doing it for free, just do it and they can either accept or reject your submission.

I'm not sure what "permission" you need from them, but even if you get "permission", that's still not a guarantee your logo will be used if they don't like the end result

[2019-03-21 23:55] SampsonCrowley commented on #85
@mansya this is all open source. you can either put in some work and contribute, or not. there's no guarantee your work will be used

[2019-05-15 00:00] catskul opened #89 "Publish to f-droid?"
If we're conforming to the inclusion policy:
 * https://f-droid.org/en/docs/Inclusion_Policy/

We should submit a package to f-droid as free software:
 * https://f-droid.org/en/contribute/
 * https://f-droid.org/en/docs/Inclusion_How-To/

If/when I get a chance I'll do some more research to see what needs to be done and start on it if possible.

[2019-05-15 03:43] #85 closed

[2019-06-28 06:19] #70 closed

[2019-06-28 06:44] ammarraisafti opened #90 "pOnewheel v3.4 - Fatal exception after set Logging Frequency"
# Actual behavior
Should after user set Logging Frequency, then click Ok to save it. Applications must be stable, and run well on the device.

# Expected behavior
After setting up Logging Frequency, then click OK to save it. Next, press the back button on the device, suddenly the application crashes and stops. And when I want to reenter the app, the app continues to stop, so the ability to get int

[2019-08-31 03:17] biell opened #91 "Crashes all the time"
I am updating the app per Issue #76 to have some options for Two-X and possibly other battery modders.   It is difficult to use and test ponewheel with it crashing all the time.  I think I have identified a very close formula to translate voltage to battery remaining:

100/(1+4^(51.2-volts))

and I have coded it into a fork, but I am having trouble testing this formula because ponewheel keeps cras

[2019-09-07 16:51] biell commented on #76
I have created pull request #92 to resolve (or at least make a first effort resolve) this issue.

[2019-09-08 04:45] #72 closed

[2019-09-11 05:12] kwatkins commented on #91
@biell yeah, it does. tbh I've been using the official app since it added more features, although I do miss this app a bit. The crashes came with the Gemini update and likely can be fixed w/ the suggestions from https://github.com/ponewheel/android-ponewheel/issues/86#issuecomment-460033659
I'll start using the app again, we should be able to get a stable version rolling. As soon as we do I'll upd

[2019-09-11 15:48] kwatkins commented on #76
Great stuff from mr. @biell! Did some basic smoke tests and looks to be solid enough for master. As soon as we nail down the stability issue (https://github.com/ponewheel/android-ponewheel/issues/91) will roll into production.
@two-x to confirm before closing after we get him a solid release :)

[2019-09-15 16:31] kwatkins commented on #91
@biell give the master branch a go with these fixes.

[2019-09-17 23:41] biell commented on #91
Sorry it took so long to get back, I originally built against the wrong commit and wasted a day.

I went on a 13 mile ride today (thank you Two-X) and the app only disconnected once and did not crash.  The disconnect was somewhere around mile 11.  I know it was disconnected from the board because I had to swipe my passcode to unlock the phone.  I pressed the "X" icon, then scanned again, and it re

[2019-09-18 03:11] kwatkins commented on #91
The disconnect likely came from the bluetooth and everything f'in else being connected to the lifecycle of MainActivity. This app needs a serious overhaul and do whatever the latest Google way of how they tell us to keep keep shit running. At least it's solid enough to get the data you need, and pass more or less the threshold to put on the app market.

Ride logging likely hasn't worked for awhile

[2019-09-21 18:34] kwatkins commented on #91
@biell merged to master and also merged fix to the logging issue, was a runtime permission check to write to storage we needed to add (likely broke ever since we updated the target sdk)

[2019-09-21 18:36] kwatkins opened #97 "Remove the vibrate service and replace w/ notifications"
We shouldn't be using vibrate like we do in the app anyhow... replace it with notifications. This was also causing stability issues.

[2019-09-22 04:32] biell commented on #91
Thanks, logging is working again, that should help me gather the data to tweak things faster.

[2019-09-25 15:46] kwatkins commented on #91
It looks like on the latest release exporting the logs is broken. It likely still is logging the CSV, just crashing when trying to open the activity and/or share the logs. And obscure error is obscure, deep in the bad choice decision by me at the time to use databinding for the UI and observables... and might be a result of updating the target SDK. That being said, going to close this ticket and c

[2019-09-25 15:46] #91 closed

[2019-09-25 15:47] kwatkins opened #98 "Listing ride activities crashes"
It looks like on the latest release exporting the logs is broken. It likely still is logging the CSV, just crashing when trying to open the activity and/or share the logs. And obscure error is obscure, deep in the bad choice decision by me at the time to use databinding for the UI and observables... and might be a result of updating the target SDK.
Might also relate to https://github.com/ponewheel

[2019-09-25 16:49] kwatkins commented on #98
It's a bug on the google play services side :/
https://issuetracker.google.com/issues/79478779#comment3
In the meantime added a fix (*cough* hack)

[2019-09-25 16:57] kwatkins commented on #98
fixed

[2019-09-25 16:57] #98 closed

[2019-09-25 16:58] kwatkins commented on #97
Done, 4.0 release

[2019-09-25 16:58] #97 closed

[2019-09-27 01:08] biell opened #100 "batteryTemp not right"
BatteryTemp only returns on start for me, and always returns the array `[25,30]` for me.  Does it every return anything else for you?  Also, I think the 0'th element of the array is what you are supposed to use, not the 1st element.  The official OW app says my battery is 25°C, not 30°C.  So this part may be a tiny app bug in `OWDevice.java`

I am wondering if maybe I broke my sensor when installi

[2019-09-27 16:17] biell commented on #100
After it finally warmed up and the official app lists the temp at 30°C, and now it returns `[30,30]`.  So, the 0'th element of the array is the correct number.
I looked through the forums and people almost always list battery temperatures in 5°C increments.  So, I think the BMS only reports temperatures in those increments.  What I haven't found yet is if the BatteryTemp is ever updated after star

[2019-09-28 16:30] biell commented on #100
After a 12 mile ride, both numbers were 35°C, so there might be two censors.  The official app uses the first one, so I think so should we.

[2019-10-09 00:43] biell commented on #100
Fixed in pull request #101, commit 85f7bfd2b88233fe40210818417df7b3edeacf43

[2019-10-15 03:09] sheatrevor commented on #86
Any updates on the current situation here?

[2019-10-15 16:41] kwatkins commented on #86
Closing this ticket since we got support rolled in... other tickets are/will be/have been spun out from this one for sure.

[2019-10-15 16:41] #86 closed

[2019-10-15 16:42] kwatkins commented on #88
bumping this higher, something i'm hoping someone will pick up - code and implementations are out there https://github.com/ponewheel/android-ponewheel/issues/86#issuecomment-473184132

[2019-10-15 16:46] #90 closed

[2019-10-15 21:21] biell commented on #100
merged into master

[2019-10-15 21:21] #100 closed

[2019-10-15 21:46] biell commented on #76
You can check out the latest attempt, merged into master.  This new method carries with it improved voltage calculations and amp draw filtering (adding up the voltage values of each cell is proving more stable than using the reported total voltage).  However, that is not the exciting part.  The Two-X method (which assumes that each time you charge your OneWheel, you charge it all the way) will kee

[2019-10-20 15:46] biell opened #105 "getStatusMode in sharedPreferences"
What is the reason for putting `getStatusMode()` in sharedPreferences?  It is wrong on startup (still set to 2) sometimes, like if the app crashed.  I think it would be better to store this under BluetoothUtilImpl, then have MainActivity access it via `getBluetoothUtil().getStatusMode()`, or something else like that.

I am adding a periodic characteristic walk.  I want it for battery temperature,

[2019-10-21 16:12] kwatkins commented on #105
@biell some of that is just leftover messiness... feel free to clean it up, all of it! this is all very much appreciated. i'll also add you to the developer list in order to speed up your changes.

[2019-10-25 22:32] biell commented on #105
@kwatkins I was testing my updates here against the latest changes to master, and the NotificationCompat alert is beeping on every % change for me.  Is that the expected outcome?  Also, the vibrations aren't working for me for 75%, 50%, ...  Do they work for you?

I was able to configure the notifications so that only the 75%, 50%, ... beep.  But still not get vibrations to work.  Would you be int

[2019-10-27 21:48] kwatkins commented on #105
I noticed that too... no, it was something I was going to look into - if you can fix it go for it. We can drop the vibration feature for now.

[2019-11-25 04:05] biell commented on #105
I think I have this all worked out.  I just need to test some, and then I will open a pull request.  If you want to see where I am now, you can look:

https://github.com/ponewheel/android-ponewheel/compare/master...biell:battery_v4

This moves statusMode out of sharedPreferences, cleans up the loopers and creates a periodic bluetooth query, and cleans up notifications.  I have vibration working, a

[2019-11-27 02:01] muellergit commented on #76
I was able to try the latest version available from the Play store and was
hoping that one of the options such as "Output voltage" might work with my
Zombied Plus (running without the BMS). The voltage is still available in
the apps without the BMS, but the Ponewheel app shows 101% for all of the
battery setting options.

Could the your method based on the Output voltage be made to work for
anyone

[2019-11-27 04:24] biell commented on #76
It should mostly work on your plus.  I don't have an XR to test with, so the curve is probably in need of tweaking for the XR.

I would think the Output Voltage and Cell Voltage method could both be tried.  I think you will find out that those two methods are highly inaccurate near 100%, and become increasingly accurate as you approach empty.  The battery simply fluctuates less at lower end voltag

[2019-11-27 06:02] muellergit commented on #76
Without the BMS, there are no cell voltages so that one won't work. If the
output voltage method it's using BMS data that is also why it doesn't work.
But the FM app still shows battery voltage on my Plus without the BMS and
so does Ponewheel.

Anyway at 52.4v battery voltage the Plus is actually at about 60% charge
but it showed 101% in every battery meter mode.

On Tue, Nov 26, 2019, 9:24 PM Wil

[2019-11-27 13:22] ocornu commented on #76
Unfortunately, the only correct way to evaluate the State of Charge is via coulomb counting. One can't do that just using voltage, specially if there is no feedback on the load being applied at the moment of the measurement.
Therefore, one easy fix would be to swap the BMS 5mΩ shunt for a 2.5mΩ one, therefore registering only half of the current passing through (equals to doubled capacity). Howeve

[2019-11-27 18:20] biell commented on #76
Did you build your own ponewheel from the master tree?  101% should never be displayed as the code sits now.

With the code, as it sits in the repository now, I have 52.3v set to 50% battery, so that is pretty close to what you are saying should show about 60% charge.  The Output Voltage method is the least reliable of all the methods I have worked on, but should give you an idea of what you have

[2019-11-27 18:32] biell commented on #76
@ocornu ,

I do use amp draw in my calculations, does that come from the BMS?  If so, then I would not be able to help @muellergit, because the amp draw is a critical part of smoothing out the output voltage.

You wouldn't even need pOnewheel then, right?  The regular app would mostly work.  My testing shows that, on my board, the max stock OW battery only goes to 44% of my total battery on a hot

[2019-11-27 18:48] muellergit commented on #76
Yeah, amp draw is from the BMS so that is why that mode doesn't work on my
Zombie. Thanks, I forgot that you had said that earlier in this thread.

I am using the Play store version but it does show 101% for all modes. It
must be due to the missing BMS data somehow.

On Wed, Nov 27, 2019, 11:32 AM William Totten <notifications@github.com>
wrote:

[2019-11-27 19:32] ocornu commented on #76
It does come from the BMS indeed. The worst considering our issue is that only instantaneous current is transmitted to the controller. And, iirc, to the BLE app.
Also, it's not in mA or any common unit, but a simple integration of 12-bit ADC samplings from the PIC16F. Which explains, I assume, why my version of ponewheel does not report current correctly (understand: in a meaningful unit).

Right.

[2019-11-27 19:40] ocornu commented on #76
May I know what happened to your BMS? For what it's worth, i'm fixing them (in case it might help). :)

[2019-11-27 20:10] biell commented on #76
Right, once I have more data, and other Two-X users try the app, then I was thinking of making an application setting which could control for variations in the cell packs used and battery age/charge cycles.  The BMS will do a lot of that for me, it just might mean that 44,45,46 will become 43,44,45 (or something similar).

If you came up with an easy hardware fix, I would consider it.  If you coul

[2019-11-27 22:25] ocornu commented on #76
Sure. Right now i've got a beta firmware for XR BMS. OW+ is a slightly different chip with a slightly different pinout, but i'll get there eventually. ^^

[2019-11-27 22:33] TomasHubelbauer commented on #76
Sorry for a rookie question and notification noise, but how does one get ahold of beta firmware exactly? Through reverse engineering the official app code and then guessing the update service URLs by appending ascending firmware revision numbers until there's a hit for yet-unreleased, but nonetheless at-the-URL-served firmware?

I'm asking this because I'd like to inspect the firmware of the Pint.

[2019-11-28 03:42] #105 closed

[2019-11-28 07:19] ocornu commented on #76
@TomasHubelbauer  There are several micro-controllers on a OW, each with their own firmware. In this thread we're discussing the BMS firmware, which is responsible for battery monitoring and the Two-X capacity issue. From what I understand, you're looking for the controller firmware (the one that gets udpdated OTA), another beast entirely. :-)

[2019-11-28 07:41] TomasHubelbauer commented on #76
@ocornu Thanks for entertaining the question and for the clarification. This is definitely fascinating. I will try to look into this further for a few mods that I have in mind. Thanks again and have a good one 🙂

[2019-11-28 15:59] biell commented on #56
Based on my tests, the official app has always reported only on the first number.  With pull request #106, I have updated the code to pull this once a minute.  I needed to get the temperature on a periodic basis so I can update my alternate battery % remaining methods.

In particular to my code, is how much battery is left after the OW reports it is at 1%, that changes slightly with temperature.

[2019-11-30 01:52] biell commented on #56
I have motor and battery temperatures logged on the main screen with branch https://github.com/ponewheel/android-ponewheel/compare/master...battery_temp_issue56

However, I can only find 2 battery temperatures being sent from the OW to the app.  Soren @two-x , you mentioned 4 temperatures, but that was because there are 4 physical temperature sensors, not because you were aware that the Onewheel a

[2019-12-03 04:20] Nanoux opened #109 "Pint Support"
Hey all,

I just got my pint in the mail today and suprise suprise my nor any 3rd party app works with it as far as I know. It is the same behavior as when gemini first dropped, where no values can be read unless the board is first unlocked by the official app.

I suspect the hash seed/key (not sure on terminology) just changed and the process is still the same but I'm not sure, I intend to invest

[2019-12-03 05:24] TomasHubelbauer commented on #109
I have the same problem. 🙂

[2019-12-04 02:04] Nanoux commented on #109
Ok so update, I created and hci log of the official app connecting to a pint, got it off my phone, and I'm digging through it on my PC, all of which was way harder than expected. I am totally out of my element, have no idea what I'm doing, and am just kinda trying stuff to see if anything works. If any of yall wanna look though it your more than welcome, here is the log. [btsnoop_hci.log](https://

[2019-12-04 03:05] Nanoux commented on #109
Ok so, if I'm reading this correctly, this is what happens. First thing it tries is to read the ridemode, and that returns 0 because the board is locked. I'm assuming this is a test to see if the board needs to be unlocked. It then requests the hardware & firmware revisions, and both of those work. It then turns on notifications for ridemode & lightmode for some reason, and then without any prompt

[2019-12-04 22:52] Nanoux commented on #109
Welp, that was an order of magnitude easier than I thought it would be, I have it working lol. Heres the workflow I'm using now:

First, check the firmware revision. If less than 4034, we're all good. if >= 4034 && < 5000, do the normal thing for gemini. If >= 5000, write 098e56c8c595bc9423ce87aea3bc3a45738c4278 as a byte array to the characteristic with UUID e659f3ff-ea98-11e3-ac10-0800200c9a66.

[2019-12-04 22:57] muellergit commented on #109
I wonder how the shaping mode switching works with the pint?

On Wed, Dec 4, 2019, 3:52 PM Nanoux <notifications@github.com> wrote:

[2019-12-04 23:05] Nanoux commented on #109
Its the same, theres 4 custom shaping modes, you can set values 5,6,7,and 8, which correspond to Redwood, Pacific, Elevated, and Skyline. I tried setting it to custom shaping and it didnt work lol, worth a shot.

[2019-12-04 23:06] TomasHubelbauer commented on #109
I've try to validate your findings in my Web Bluetooth based version this weekend! I'm super excited to try it, hope it works for me as well. Thanks for finding all this out!

[2019-12-04 23:10] muellergit commented on #109
So you can use the existing Ponewheel to change the mode once it is
connected with your new code?

On Wed, Dec 4, 2019, 4:05 PM Nanoux <notifications@github.com> wrote:

[2019-12-04 23:14] Nanoux commented on #109
Well maybe I don't know, it worked right away in my app, the labels were just wrong. Fixing that rn.

[2019-12-05 03:32] tekkies commented on #109
That array you send may specific to your board.  If I read correctly, the number my app sends is only identical for the first 3 bytes (6 hex digits).

[2019-12-05 13:54] Nanoux commented on #109
Well damn, I guess life is never that easy. That would make sense that it's different per board, but the app never requests board specific information before the key is sent, so I assumed it was hard coded. Maybe they are using the board's Bluetooth broadcast id or name or something? I don't know, unless someone makes a super lucky guess we're probably gonna have to tear the official app apart and

[2019-12-05 14:51] tekkies commented on #109
@Nanoux did you push your changes to a branch somewhere? Even hard coding for my board would be super useful.  Do you want a copy of my trace for comparison?

[2019-12-05 16:36] Nanoux commented on #109
Oh I just added like 5 lines to my app, I haven't put anything up yet. AFAIK ponewheel uses my connection code, so you might be able to just drop it in. I'll post it when I get home if ya really need it.

[2019-12-05 21:56] muellergit commented on #109
The board's last 6 digits of the serial number is sent as the Bluetooth
broadcast name OWxxxxxx.

On Thu, Dec 5, 2019, 9:36 AM Nanoux <notifications@github.com> wrote:

[2019-12-05 23:02] Nanoux commented on #109
Ok update, I noticed that the official app connected way faster after the first connection, so I deleted my onewheel form the app and made a system trace of a first time pint connection, and sure enough its different!

For a first time connection, it tries to read the ridemode, gets 0, then gets the firmware & hardware revisions as before. However, after that its goes into the Gemini workflow, and

[2019-12-05 23:13] Nanoux commented on #109
Side note for anyone smarter than me reading this, it looks to me like the pint LED strips have full RGB, in theory it might be possible to set them to any arbitrary color if the firmware supports that on the board's end, but I have no idea how to figure that out....

[2019-12-05 23:27] Nanoux commented on #109
omg I'm so sorry @kwatkins I did not realize there was already a Pint issue thread here: https://github.com/COM8/UWP-Onewheel/issues/6 . I seem to have gotten further than that one though so I'm not going to close this thread.

[2019-12-06 18:13] kwatkins opened #110 "Refactor to MVVM (Model-View-ViewModel)"
This would make the codebase easier to contribute and work with, not to mention maintain.

[2019-12-06 20:59] Nanoux commented on #109
Well I tried just straight up using the gemini code but with the first 3 bytes switched out for the ones in my board's pint code, still didn't get the correct response, so the hash key probably did actually change.

I'm gonna ping @kwatkins , @beeradmoore, and @COM8, since you all may be interested in how far I've gotten and I think I need your help to finish this off.

[2019-12-07 01:01] beeradmoore commented on #109
Ohooo, nice work!

I had similar issues when trying to get OWCE to connect to the board, but I was also half way through re-writing all the BT code so that probably didn't help 😂

I'm working on getting that BT code finished this weekend to get a build out to users, but then I'll revisit this thread and work on the Pint update.

[2019-12-07 01:14] Nanoux commented on #109
Ya my email is shenanouxgans@gmail.com and my discord is Nanoux #6524

[2019-12-08 18:28] muellergit opened #111 "New 4210 hardware 4142 firmware XR no longer show data"
Reported on the Facebook Onewheel Owner's Group; several people have received XR this week with new hardware and firmware versions and they reportedly no longer show data with Ponewheel other than firmware version and the Bluetooth ID/serial number. Onewave was tried and it also no longer reports data.

[2019-12-09 21:40] beeradmoore commented on #111
From the screenshots in OWOG it looked like handshake wasn't successful.
It's interesting that that firmware is specific to that hardware. Either the official app handles the handshake gracefully, or it was updated to to handle this new version.

Its interesting that its a new firmware and a new hardware as existing XRs didn't get the 4142 firmware.

[2019-12-09 21:56] biell commented on #111
How much do you want to bet that it is the same handshake, or similar, as the Pint handshake in #109 ?

[2019-12-09 21:59] beeradmoore commented on #111
Coming from FM, likely.

[2019-12-10 01:06] muellergit commented on #111
There was the app update to provide pint support when it was released (I
haven't installed it yet), so they could have included the new code in the
app for the possibly pint-like handshake that the new XR 4210/4142 version
uses then.

On Mon, Dec 9, 2019, 2:59 PM beeradmoore <notifications@github.com> wrote:

[2019-12-21 19:18] tekkies commented on #109
This addition (in blue) got my Pint to connect if I have "Default to OW+" enabled.
![image](https://user-images.githubusercontent.com/1917884/71312748-7bd00480-23e3-11ea-8289-f870c45b3b57.png)

[2019-12-21 23:37] beeradmoore commented on #109
That key is generated in the lines above it after retrieving information from the serial read characteristic. The key may work for yours but we need to figure it out on everyone elses device. Maybe the start of the key changed from 43:52:58 to 09:83:5<whatever the next character was>.

I'm around thinking with some stuff today, I'll see what my log says when I connect to my Pint.

[2019-12-22 02:44] righttorepair commented on #109
The gemini firmware unlock code was pretty easy to figure out.  A constant was being hashed in some c# code which resulted in a constant everyone could share.

The new firmware sends unique info from your board to an FM JSON API which returns an unlock key.  The key is stored in the DB so you only need to be online once.

You can grab your own unlock key by Bluetooth snooping or this app could mak

[2019-12-22 14:33] Nanoux commented on #109
The start of the key definitely changed but that's not the only thing unfortunately, I tried that :/

[2019-12-24 01:33] tekkies commented on #109
I saw a comment that the said the latest firmware requires an API call to get the key for you own OW.  If that is the case, can we make that API call or would that be considered hacking?

[2019-12-24 02:03] biell commented on #109
There is nothing to say that FM won't say it is unauthorized use of their API, but it would not likely stand up in court (I am **not** a lawyer).  That puts the plaintiff in a powerful position however, b/c who wants to be the defendant.  I don't know why FM is going to these lengths, but it does seem likely that they are trying to stop 3rd party apps.  However, it is possible that is not their go

[2019-12-24 02:03] tekkies commented on #109
I updated the image above to show a bit more of my key.
![image](https://user-images.githubusercontent.com/1917884/71388771-8a1e4c00-25ae-11ea-8656-4cf5e6edfc8b.png)

[2019-12-24 02:23] tekkies commented on #109
@biell Thanks for the write-up.  I sent you a PM.

I did also wonder about parsing the btsnoop_hci.log file, but my Moto G (6) phone does not place the file in accessible storage - I have to generate the log then "Take a bug report" and mail it to myself :(.

[2019-12-24 03:27] beeradmoore commented on #109
@tekkies , FM already consider the current handshake bypass that came with gemini hacking (or at least they were throwing around cease and desist and getting apps removed for it).

Just checked, and Pint is doing some API call. Start of the key matches the key you are sending so it is related.

[2019-12-24 05:17] Nanoux commented on #109
Well y'all are right, I tried a first time connect to my pint in the official app with wifi & data off and it gave me an error message, that is absolutely wild. It may be possible to do whatever that api call is doing locally in the app though like you said. I suspect it is very similar to what is happening with gemini and they don't want people to be able to reverse engineer it from the app. Its

[2019-12-24 05:30] tekkies commented on #109
(Being forced to their API would help them get a handle on warranty start dates.)

[2019-12-24 05:48] Nanoux commented on #109
No that's why they make you register your board in order for the warranty to be valid.

I would be curious to know if the unlock key is stored in memory on each board or if the algorithm to figure it out is coded into the firmware and we could get it that way.

[2019-12-24 10:58] beeradmoore commented on #109
Unlock code for Pint will also work for the new XR (fixing #111).
Code is generated on the board (hash used for gemini is used here too) and then sent to FM in exchange for a token which then unlocks the board.

[2019-12-24 11:13] Nanoux commented on #109
Oh nice work, I guess we're running out of options already. My question was clearly the board knows what the right token is and it's the same Everytime, is that token stored in it's memory or does it do the same think the API does locally?

[2019-12-24 12:36] beeradmoore commented on #109
It stores it on disk. I wouldn't assume it expires.  So only fetched once and then re-used.

[2019-12-24 23:38] tekkies commented on #109
Well, if you want to give pint a try and you know your unlock code (e.g. from your hci snoop), I've got a branch at [here](https://github.com/tekkies/android-ponewheel/tree/firwmare4142-unlock) that connects to the pint if I enter my board MAC and unlock-key in the new user pref "Firmware 4142+ unlock keys".  YMMV.

I've done a bit of refactoring so the old unlock may inadvertently have broken (ho

[2019-12-25 21:07] ocornu commented on #111
My guess would be the controller hardware has not changed at all. The new revision only serves the purpose of not updating boards whose BMS firmware isn't compatible with pairing (because they would stop working).

[2019-12-27 01:47] beeradmoore commented on #111
Unlock system for Pint (and should be new XR) has been committed to OWCE. I'll do a bigger writeup in #109.

[2019-12-27 01:57] beeradmoore commented on #109
Unlock system for Pint (and should be new XR) has been committed to OWCE.
https://github.com/OnewheelCommunityEdition/OWCE_App/pull/30

Magic is in 2 parts.
Part 1: https://github.com/OnewheelCommunityEdition/OWCE_App/blob/4fc1923323543db849deccbf2998646cdf1bae31/OWCE/OWCE/OWBoard.cs#L899-L914
If firmware is > 4141 (so this is the new 4241 firmware and the Pint 5XXX firmware) then we don't want to

[2019-12-27 08:59] COM8 commented on #109
@beeradmoore Awesome!
Currently porting it over to my app.
Can you/somebody else give an example JSON response from the API?
When I try it with: https://app.onewheel.com/wp-json/fm/v2/activation/12345?owType=xr&apiKey=00000000000000000000000000000000
I'm getting this😅:
![image](https://user-images.githubusercontent.com/11741404/71510435-3736e400-288f-11ea-97bb-82ff4426395a.png)
Probably a combinat

[2019-12-27 09:08] TomasHubelbauer commented on #109
I'll try when I have a chance, I'm also looking to port the unlock code. Thanks @beeradmoore

So I'll share my JSON ASAP within the next few days if you don't have an example by then.

As a side note, fuck this "private API misuse" bullshit. When will companies ever learn. 😖

[2019-12-27 09:58] COM8 commented on #109
An other thing:
@beeradmoore where do you get the device name from?
Is this the Bluetooth device name or does the OW publish it's name without being unlocked?
What happens if somebody changes the name of its OW?

[2019-12-27 09:59] TomasHubelbauer commented on #109
I believe renaming the OW only affects the display in the app but is not actually written into the board, so the Bluetooth name always remains the same. But I'm not sure this is accurate.

[2019-12-27 10:31] beeradmoore commented on #109
@COM8 , sure it looks something like this, same length,
`{"key":"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"}`
This is the name from the bluetooth device. Serial number is different on the Pint to the device name. On my Plus they match.

It was not throwing "private IP blah blah" the other day when I was throwing random ID/Keys at it, so that's new 😂.

But yes if you're reading this FM, block IPs of

[2019-12-27 10:32] ocornu commented on #109
That's right: they're two different things. I don't know where the custom OW name is stored exactly (within the board or on the network), but it's not in the app/device. I fix a lot of boards and, after i've connected to them, the custom name owner has chosen does appear on my app.

[2019-12-27 10:35] ocornu commented on #109
Oh, so that's *your* fault! ;D

[2020-01-12 22:22] biell opened #112 "Frequent disconnects without reconnect"
I feel like the app is disconnecting a lot (or more importantly not reconnecting properly).  This might have been my fault, changing from using the sharedPreference.  I will look through the changes and see if I can get the reconnects working better.  Any ideas are welcomed.

[2020-01-13 15:36] tekkies commented on #112
I've been playing with an FSM implementation of bluetooth, just for fun [on this branch](https://github.com/tekkies/android-ponewheel/tree/bt-fsm-experiment-01).

I figured I could better understand it if I could see it.  There's an animated screenshot on the branch readme.

[2020-01-13 23:25] biell commented on #112
Just for fun, or for  serious?  It looks like you replaced every spot I added debugging code to better see what was going on.  Your code also looks pretty good to me.  If you are serious about getting this working, I can install and test it out on my OW+, then help you work through it.

This code probably needed to be revisited anyway.  If you are serious, what is your status on how mature the cod

[2020-01-14 02:47] tekkies commented on #112
@biell The code is still unfinished and I'm plugging away at it a few hours a week - it has a lot of extras at the moment (like text-to-speech announce comms state).  It connects to a pint OK but no-longer holds the connection for very long (it was staying connected for 20 minutes in ideal conditions).  I need to check if it should still work with the OW+ - I didn't intentionally break it, but I w

[2020-01-14 02:48] tekkies commented on #112
p.s. The battery cell is hard-coded to pint - it has a good chance of crash.

[2020-01-14 03:13] biell commented on #112
OK, in that case I will let you keep working on your new features and I will see about patching the current code base to reconnect better.

[2020-01-14 03:35] tekkies commented on #112
@biell sounds good.  Looks like I've not migrated the OW+ code yet.

[2020-01-31 20:06] nadavsavio commented on #51
I see this hasn't been updated in quite some time, but I wanted to chime in with a +1 and a screenshot. This bug actually means I can only read 9 of the 16 cells.

(Tangentially, notice the voltage is only reading half. I just installed a two-x setup and suspect I have a BMS issue, but pointing that out in case there's an issue in the app itself.)

![Screenshot_20200131-115306](https://user-images

[2020-03-07 12:53] Zol-Tank commented on #109
What worries me about this, is what happens if FM closes shop? Having the app worked tied to the company is a very worrisome development for a lot of reasons outside of ponewheel.

[2020-03-18 06:04] muellergit commented on #76
@biell I was just thinking of a potential new "Zombie" method to estimate battery capacity remaining from voltage alone while moving. I have been riding my Plus without the BMS for about a year now so to estimate my charge remaining I need to stop to check battery voltage in the app (or look at the power button pulses). Since your new Voltage based battery code uses the current amps to compensate

[2020-03-18 20:06] biell commented on #76
We can work on that.  Right now I have major responsibilities at work to support our COVID-19 response.  But, I will help you work on this as time allows.  It will be easy to add, but it will take time to tweak.

Basically, all we need to do is add another option in the drop-down, then make an output choice for that shared preference.  All the variables are there, we will just be using fewer of th

[2020-03-19 03:44] muellergit commented on #76
I need to write a little code to run through my data to see if there is a way to get good smoothness without needing a long moving average. But a long moving average of voltage looks fairly good actually. Especially over an order of 1000 voltage measurements. But my data was sampled once per second so not sure how the smoothing works if sampling was done 10 or 100 times per second.

I have a TTGO

[2020-03-19 20:33] biell commented on #76
Smoothing out does a pretty good job, and I use that technique with a rolling average.  But, the equation I uses for my Voltage only line is calculated to be used with a layer of smoothing applied from current amp draw.  Without that, the line may need to be adjusted slightly.  We can still make a guess without amp draw, it will just be a little less accurate,  We could substitute something in usi

[2020-03-20 05:03] muellergit commented on #76
I thought about speed as a correcting factor in place of current but speed isn't well correlated with current since you can be going the same speed while either braking, accelerating, or maintaining speed, and any additional balancing current is completely uncorrelated.

I'm getting useful looking results with Vsmooth = Vsample / 600 + Vsmooth * 599 / 600 which is simple and doesn't need to save a

[2020-03-20 05:19] biell commented on #76
That is a much larger decay than my decaying average, I divide by 50:

    private static final double DECAY_NEW_STEP     = 0.02;
    private static final double DECAY_OLD_STEP     = 1.0-DECAY_NEW_STEP;

I can't remember how often the data comes in, but is more like seconds per data element, not data elements per second.

[2020-04-22 06:52] micHar commented on #109
Amazing job reverse engineering that stuff!

Did anyone get a chance to find out how does the unlock key change in time? It is indeed cached in the app (I tried to connect to pint through official app with no Internet and it worked). I decompiled the official app and will see if I can find how it stores the key.

Anyway, the key has to be trusted by the firmware to unlock the board's BT communicat

[2020-04-22 07:04] beeradmoore commented on #109
I just re-checked my Pint and both the key and activation code are both the same as they were in early December.

It's very likely that the key from the board is a value from using the serial as a hash. The alternative is its a second static value on the board which is the key, and FM have a giant lookup table containing serial and key.

[2020-04-22 07:08] micHar commented on #109
I would rather bet on the first possibility tbh. That would mean that the algo for the hash is in the firmware and if we could reverse engineer that, we would be free from the API.

[2020-04-22 07:25] beeradmoore commented on #109
I'd agree. It means that whatever FM do on their side is also very likely a hash.

Some other possibilities are the key from the server is not based on ApiKey which is sent to it, but instead ApiKey is just to validate the serial is correct and exists. And therefor key from the server is 100% based on serial. (eg, we don't need to do work on ApiKey to get Key)

Whatever server is doing to hash, it

[2020-04-22 08:24] beeradmoore commented on #109
For a quick sanity check (and shooting fish in a barrel) I got my serial number, converted it to byte array and did a MD5 (correct length for ApiKey) and SHA1 (correct length for Key) hash on it. Wouldn't generate the same code.

Double checking this tread I can see that both the key directly from the board (ApiKey is just a subset of these values) and they key from the server both start with 098E

[2020-04-22 09:37] micHar commented on #109
The key is hex, right? The prepended part `098E56` is just `626262` in DEC, seems too specific to be random to me. This is a far shot, but I would say we don't look at any widely used hash algo like sha256. If I hashed something I would rather salt it first and then hash and here the prepended part seems to be specific standalone as hex.

Anyway, I will try to check what my key looks like when I'm

[2020-05-06 08:44] muellergit opened #113 "Ponewheel not listed on Play store?"
I no longer see Ponewheel listed on the Play store. Is this a temporary glitch?

[2020-05-07 00:17] kwatkins commented on #113
Oh wow. Just got this e-mail, no idea why. Something I'll have to @#$ deal with now.
[code]

[2020-05-07 00:39] biell commented on #113
Google has been "cracking down" and hopefully you just got caught up by accident.  Onewave got kicked out of the store a while back because of a complaint and I don't think he ever got to the root of it.

I hope this isn't FM pushing back against 3rd party apps.

[2020-05-07 01:41] kwatkins commented on #113
Nah it's one of my other apps, false positive malware so they switched off
all my apps. Appealing it now.

On Wed, May 6, 2020, 5:39 PM William Totten <notifications@github.com>
wrote:

[2020-05-18 20:21] m-sterspace commented on #113
Is the APK available anywhere for sideloading?

[2020-06-24 08:39] beeradmoore commented on #113
Still unresolved?

[2020-06-24 15:18] kwatkins commented on #113
Yes. Unless someone wants to host on Google Play, unfortunately they are
taking forever to respond. I'll compile the latest APK and add it to
releases. If anyone has other hosting recommendations it'll be a big help.
Amazon App store is OK other than security risks that come from
sideloading.

The latest APK build is up on
https://github.com/ponewheel/android-ponewheel/releases/download/v4.4-stand

[2020-10-08 05:38] Morotezuki opened #114 "XR Firmware 4150 have new keys..?"
From read, first 3 byte: 09 8e 56.
Does this mean I have one of the new boards that actually need to call an FM API to get the unlock key?

[2020-10-08 08:07] Morotezuki commented on #114
Ok, I figured it out by myself. So yes, I do have a new board required to call the API. Some notes on how I got it: capitalize your hex string, but nothing else. Hide your user agent, and use a VPN. Hex string is from the 4th byte to the last, length is 16 bytes. Good luck everyone.

[2020-10-08 08:07] #114 closed, assigned to nobody

[2021-06-03 15:40] AlexBeggs commented on #113
any word on why Google removed it?

[2021-06-03 16:49] kwatkins commented on #113
It wasn't because of the app, one of my other apps got flagged and my
developer account got pulled. It was a stupid mistake, researching a
publically available script and it was in the assets directory of the app.
The way Google works, any and all apps and accounts associated gets the
blacklist. The whole thing is frustrating to say the least.

-- Kevin

On Thu, Jun 3, 2021 at 8:40 AM Alex Beggs *

[2021-07-09 09:38] ghost commented on #113
Hey sorry Ive been gone so long and reviving an old thread, Ive been struggling through health problems. Onewave died because Future Motion DMCA'd the app itself, my developer account is fine. The reasons they stated were for safety. They only did it after I put up a build I believe on the beta branch that I thought had pint support, which ended up only having pint support for my board, whoops. It

[2021-07-09 13:47] biell commented on #113
@Nanoux , I hope your health has improved, and I wish you the best; also I apologize for the incorrect pronoun.

One thing you may want to consider is to share your story with EconLIberties, they are a lobbying organization in support of developers like you.  They support right-to-repair, are anti-monopoly, and I think that casting their very discerning eye at DMCA abuse could only be positive for

[2021-08-09 15:52] Tbruno25 commented on #109
I know this is an old issue but I was hoping to see if anyone is aware whether the methed @beeradmoore outlines is still functional for retrieving the api key?

I converted the code to a small python script yet always receive the same response no matter the length of time --
`{'message': 'Too much activations for today, please wait one day or contact support!'}`

[2021-08-09 21:25] beeradmoore commented on #109
@Tbruno25 , they totally block you after a few requests for the same token. I think your board might be blocked and they want you to call them to get a slap on the wrist.

Although the overall network protocol is being weird.

We launched this feature in OWCE on Jan 1st and within a week it stopped working. Even though we were spoofing absolutely everything possible FM found a way to detect and bl

[2021-08-11 05:53] beeradmoore commented on #109
@Tbruno25 , I just went and did a request on my test device that I thought I had not installed OW app on (fresh device, fresh apple account), however the App Store download icon was a cloud so I must have at some point installed this. I can't confirm there is no cloud sync funny business going on here unfortunately. But here is my full header request and response.

Request header:
[code]
BOARD_SER

[2021-08-11 05:55] TomasHubelbauer commented on #109
@beeradmoore  would a burner Apple ID work?

[2021-08-11 05:57] beeradmoore commented on #109
Yeah, but I'm le tired. It also means I gotta spend another $8 on Charles Proxy.

EDIT: Looking to see if its possible to get BT passthrough to an Android Emulator.

[2021-08-11 05:59] TomasHubelbauer commented on #109
I wish I knew how to fix the former, could use the solution for myself, too. But at least I can help with the latter. Do you have PayPal or would you consider setting up Github Sponsors?

[2021-08-11 06:32] beeradmoore commented on #109
Appreciate it, but I don't want to take any money for OW endeavours. :)

I just did an encrypted backup of my test phone and busted it open with [mvt](https://docs.mvt.re/en/latest/index.html) and found this file.

[code]

Did a base64 decode and found it to be a binary plist file, and inside it is my device serial and key (one returned from the server) as well as a GUID which I don't know is for.

[2021-08-11 08:01] beeradmoore commented on #109
Below I did the same steps again and again. That is full backup, decrypt backup, check result files for OnewheelsList.

First up was after I deleted the app. No OnewheelsList found. This was to make sure no additional data was hanging around.

Installed the app, but didn't open it. OnewheelsList was not found (I am unsure of the other files listed below exited or not).

After opening the app but n

[2021-08-11 16:51] davemcphee commented on #109
Totally wild guess, based on the APIs and @beeradmoore findings:

the /wp-json/fm/v2/activation endpoint takes your details, but instead of sending back the required secret, it creates a firebase cloud messaging topic using your Serial / key, and FCM pushes the secret to your device / OneWheel app

The UUID_KEY is your (FCM) device registration, and is mapped to a specific board, so eg.: I buy you

[2021-08-11 17:23] micHar commented on #109
I would also say it's just pushing the key to the device. I've seen this way of obscuring communication before.

It means that the token will only be sent to the app with a specific app id and signed with a specific key (fcm ensures that) so there isn't an easy way to start receiving these push msgs in a 3rd party app, I think :/.

Best you can do is to extract the key from shared prefs or smth on

[2021-08-11 22:41] beeradmoore commented on #109
I don't know enough about FCM to know if it pushes via the Apple Push Notification Service (APNS). I would assume so because I see it sending my APNS device ID in some requests going to FCM. I also don't know if I say no to push notifications if that disables APNS completely. Rejecting push notifications from the prompt still allowed the board to register.

If it is still allowed to come through i

[2021-08-12 05:54] micHar commented on #109
FCM uses APNS but it doesn't really matter, app can use it directly for the same effect. As for background pushes, afaik it can be sent in background without explicit permission, although if you disable background processing in system settings it should probably not go through then.

iOS and Android are managing socket connection for their push services but this is something baked into system on i

[2021-09-01 05:52] crocodilus commented on #113
@Nanoux Apologies if this question had already been addressed, but have you considered publishing to F-Droid.org ?

Best wishes!

[2021-10-20 22:09] ghost commented on #113
I don't think my app is eligible for F-Droid, I looked into it forever ago and I don't remember what the reason is now, I think it was a dependency on Google Play Services.

@biell Its no problem! My health is finally doing much better now thank you. The honest answer is that this ordeal has totally made me loose all motivation for my project, I'm using the official app now on my phone again. I st